/*나눔스퀘어*/
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');

.video-container {
    position: relative;
    width: 100%;
    height: 768px;
    overflow: hidden;
}

.video-container .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container .title-area {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #000000;
    text-align: center;
}

.video-container .title-area .title {

    font-family: 'NanumSquare', sans-serif;
    font-weight: 800;
    font-size: 6rem;
    display: block;
    margin-bottom: 2rem;
}

.video-container .title-area .description {
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-top: 10px;
}

/* 설명 내의 강조 텍스트(strong)가 있다면 Bold 처리 */
.video-container .title-area .description strong {
    font-weight: 700;
}