<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>판매자 매출 흐름</title>
    <link href="/assets/images/login/favicon.png" rel="icon" >
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/ownergraph/common.css">
    <link rel="stylesheet" href="/assets/styles/ownergraph/index.css">
    <script src="/assets/scripts/ownermain/toggle.js" defer></script>
    <script defer src="/assets/scripts/common.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: owner-header}">
</th:block>
<main id="main">
    <button id="toggleNav" class="toggle-btn">
        <img src="/assets/images/ownershop/arrow-left.png" alt="닫기" class="toggle-icon"/> </button>
    <nav id="nav" class="open">
        <div class="info">매장관리 페이지</div>
        <!--01-15직원:shopId없는문제로수정함-->
        <div class="profile">
            <img src="/assets/images/ownermain/brand.jpeg"
                 alt="" class="profile-img" id="profileImg" style="cursor: pointer;">

            <div class="message">메인페이지에서 변경가능</div>

            <div class="title" th:text="${session.sessionUser.storeName}"></div>
        </div>
        <!--
        세션의 유일성: 사용자가 로그인하면 DB의 특정 행(Row) 정보가 세션에 로드됩니다. admin1은 Rom이라는 값을 가진 행만 가져오고,
        waviness01은 thewaviness 값을 가진 행만 가져옵니다.
        객체 탐색의 명확성: ${session.sessionUser.storeName}은 현재 로그인한 사람의 바구니(Session) 안에서만 값을 꺼내는 작업입니다.
        옆 사람의 바구니를 뒤지는 것이 아니므로 데이터 혼선이 생길 수 없습니다.
        -->
        <!--01-15직원:shopId없는문제로수정함-->
        <ul class="nav-list">
            <li class="dashboard">
                <a href="/owner">대시보드</a>
            </li>
            <li class="register-form">
                <a href="/owner/shop">상품등록</a>
            </li>
            <li class="register-owner-form">
                <a href="/owner/member">관리자권한부여</a>
            </li>
            <li class="graph-form">
                <a href="/owner/graph">매출흐름</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        <div class="page-title">
            <h1>판매·매출 현황</h1>
            <div class="underline"></div>
        </div>
        <div class="dashboard-layout">
            <div class="top-section">
                <div class="graph-container">
                    <h2 class="title">매출추이</h2>
                    <button class="weekButton -selected">주간</button>
                    <button class="monthButton">월간</button>
                    그래프자리
                </div>
                <div class="status-container">
                    <div class="weekSatatus">
                        <h2 class="title">금주 현황</h2>
                        금주 매출
                    </div>
                    <div class="weekList">
                        <h2 class="title">금주 결제 리스트</h2>
                    </div>
                </div>
            </div>
            <div class="bottom-section">
                <h2>매출 상위 제품</h2>
                <div class="product-list">
                    <div class="product-item"></div>
                    <div class="product-item"></div>
                    <div class="product-item"></div>
                    <div class="product-item"></div>
                    <div class="product-item"></div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>