<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약하기</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/reservation/common.css">
    <link rel="stylesheet" href="/assets/styles/reservation/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script defer src="/assets/scripts/reservation/index.js"></script>
    <script defer src="/assets/scripts/reservation/reservation.js"></script>
    <link href="/assets/images/login/favicon.png" rel="icon">
    <script defer src="/assets/scripts/common.js"></script>

</head>
<body>

<!-- 헤더부분 , 로고와 네비바가 들어감 -->
<th:block th:replace="~{/fragments/common.html :: customer-header}">
</th:block>
<!--스크롤스냅 적용된 가로 슬라이더: 각 img에 id부여하여 앵커이동-->
<!--헤더에 호버하면 나타나는 메뉴 -->

<main id="main" >
    <img src="/assets/images/MY/waviness.png" class="image" alt="메인이미지" th:src="@{${shopInfo.backgroundImage}}"/>


    </main> <!-- 헤더뒤에 배경 -->
<div class="box" id="shop-header">
    <img src="/assets/images/reservation/brand.jpeg" class="logo" alt="" th:src="@{${shopInfo.profileImage}}"/>
    <div class="profile">
        <div class="title" th:text="${shopInfo.shopName}">Waviness</div>
        <span class="description" th:text="${shopInfo.shopCategory}" >웨이비니스</span>
        <div class="count">
            <span class="like">영업시간&nbsp;</span>
            <span class="num" th:text="${shopInfo.shopTime}">4,001 ></span>
            <span class="style">연락처&nbsp;</span>
            <span class="num" th:text="${shopInfo.shopTel}">565 ></span>
            <span class="style">주소&nbsp;</span>
            <span class="num" th:text="${shopInfo.getShopAddress()}">565 ></span>
        </div>
        <div class="button">
            <button class="like"><a href="#">관심 저장</a></button>
        </div>
    </div>
</div>
<div id="dialog">
    <div class="modal">
        <div class="title">제목자리</div>
        <div class="content">내용자리</div>
        <div class="button-container">
            <button class="button">버튼 1</button>
            <button class="button">버튼 2</button>
        </div>
    </div>
</div>
<div class="shop"></div>
<div class="box">
<div id = "item" >
    <h1>상품 선택</h1>
    <div class="container">
        <div class="item-row">
            <input type="checkbox" id="checkbox1">
            <label for="checkbox1" class="label">

                <span class="image-wrapper">
                    <img src="../assets/images/reservation/category/one-1.webp" alt="상품이미지" draggable="false">
                </span>
                <span class="text-wrapper">
                    <span class="title">Waviness Tide Layer Wool Crop Jacket Black</span>
                    <span class="price">41,2000원</span>
                    <span class="shop">black/white</span>
                <select name="size" class="size-select" onclick="event.preventDefault()">
                    <option value="" disabled selected>SIZE</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="FREE">FREE</option>
                </select>
                </span>
            </label>
        </div>
    </div>
</div>
<div id="reservation">
    <form>
        <h1>방문 날짜 선택</h1>
    <label for="date"></label>
    <input type="text" id="date" placeholder="0000-00-00 00:00:00">
    <button class="button reservate"> 예약확정하기 </button>
    <button class="button cart"> 장바구니 </button>
    </form>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
</body>
</html>