<!DOCTYPE html>
<html lang = "ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Main Page</title>
    <link rel="stylesheet" href="/assets/styles/main/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/main/index.css">
    <link href="/assets/images/login/favicon.png" rel="icon"  >
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=Nanum+Brush+Script&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.css">
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/assets/scripts/main/main.js"></script>
</head>
<body>
<!-- 헤더부분 , 로고와 네비바가 들어감 -->
<th:block th:replace="~{/fragments/common.html :: customer-header}">
</th:block>

<!--스크롤스냅 적용된 가로 슬라이더: 각 img에 id부여하여 앵커이동-->
<!--헤더에 호버하면 나타나는 메뉴 -->
<div id="splash">
    <div class="info">
        <span class="title">CORS:ConnectingStyle to RoadShop</span>
        <span class="description1">26S/S 'SHOP' collection  </span>
        <span class="description2">"Make you look Better" </span>
        <button class="logo" onclick="location.href='/shops'" >Reservate Now</button>
    </div>

    <div id="side" >
      <!--  <img alt="" class="image" id="splashSide1" src="/assets/images/login/coordination1.png">
        <img alt="" class="image" id="splashSide2" src="/assets/images/login/coordination2.png">
        <img alt="" class="image" id="splashSide3" src="/assets/images/login/archive.png">-->
        <img alt="" class="image" id="splashSide1" src="/assets/images/main/splash1.jpg">
        <img alt="" class="image" id="splashSide2" src="/assets/images/main/splash2.jpg">
        <img alt="" class="image" id="splashSide3" src="/assets/images/main/splash3.jpg">
    </div>

    <div class="dot-container">
        <a class="dot" href="#splashSide1"></a>
        <a class="dot" href="#splashSide2"></a>
        <a class="dot" href="#splashSide3"></a>
    </div>

</div>

<!-- 버튼 뒤에 글래스 모피즘 -->

<ul class="box" id="quick">
    <li class="item">
        <a class="link" href="/shops">
                  <span class="icon-wrapper">
                <img alt="" class="icon" src="/assets/images/main/quick/1.png">
                       </span>
            <span class="text">매장목록</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="/items">
              <span class="icon-wrapper">
                <img alt="" class="icon" src="/assets/images/main/quick/2.png">
                  </span>
            <span class="text">상품목록</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="/nearby-shop">
                 <span class="icon-wrapper">
                <img alt="" class="icon" src="/assets/images/main/quick/3.webp">
                     </span>
            <span class="text">내주변 매장</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="/my?open=reservation">
                 <span class="icon-wrapper">
                <img alt="" class="icon" src="/assets/images/main/quick/4.webp">
                     </span>
            <span class="text">예약 및 픽업</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="/my?open=likes-shop">
         <span class="icon-wrapper">
        <img alt="" class="icon" src="/assets/images/main/quick/5.png">
             </span>
            <span class="text">관심 매장</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="/my?open=likes-item">
           <span class="icon-wrapper">
        <img alt="" class="icon" src="/assets/images/main/quick/6.png">
               </span>
            <span class="text">관심 상품</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="/my">
                   <span class="icon-wrapper">
                <img alt="" class="icon" src="/assets/images/main/quick/7.png">
                       </span>
            <span class="text">마이페이지</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="/shops">
                   <span class="icon-wrapper">
                <img alt="" class="icon" src="/assets/images/main/quick/8.png">
                       </span>
            <span class="text">예약하러가기</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="/recommended-shops">
                   <span class="icon-wrapper">
                <img alt="" class="icon" src="/assets/images/main/quick/9.png">
                   </span>
            <span class="text">추천매장</span>
        </a>
    </li>
</ul>

<div class="box" id="popularBrand">
    <a class="more" href="/shops">더보기</a>
    <span class="title">지금 뜨고있는 상품</span>

    <div class="form-container">
        <ul class="selection">
            <li class="item">
                <label class="label">
                    <input type="radio" name="selection" value="1" class="radio" checked onchange="changeCategory('1')">
                    <span class="caption">미니멀</span>
                </label>
            </li>
            <li class="item">
                <label class="label">
                    <input type="radio" name="selection" value="2" class="radio" onchange="changeCategory('2')">
                    <span class="caption">캐주얼</span>
                </label>
            </li>
            <li class="item">
                <label class="label">
                    <input type="radio" name="selection" value="3" class="radio" onchange="changeCategory('3')">
                    <span class="caption">스트릿</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="grid" id="productGrid">
    </div>
</div>
<div class="box" id="popularShop">
    <a class="more" href="/shops" style="z-index: 999">더보기</a>
    <span class="title">지금 뜨고있는 매장</span>
    <ul class="list">
        <li class="item">
            <img alt="" class="logo" draggable="false" src="https://static.upbit.com/logos/USDT.png">
            <div class="text-container">
                <div class="name-container">
                    <span class="shopName">
                        Waviness
                    </span>
                </div>
                <span class="time">10:00~21:00</span>
            </div>
            <div class="address-container">
                <span class="address">서울 용산구 한남대로46길 16</span>
            </div>
        </li>
    </ul>
</div>

<footer>

</footer>
</body>
</html>
