#main {
    width: 100%;
    overflow: hidden;
    height: 70vh; /* PC 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

@media (max-width: 48rem) {
    #main {
        height: 25rem; /* 모바일에서는 높이를 적절히 줄임 (너무 길면 컨텐츠 안보임) */
    }
}