<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.gmpark.cors.mappers.OwnerShopMapper">
    <insert id="insertItem" useGeneratedKeys="true" keyProperty="item.id">
        INSERT INTO `cors`.`shop_items` (`shop_id`,`item_name`, `color`, `size`, `price`,`style` ,`main_category`, `sub_category`,
                                         `detail_category`,  `created_at`, `updated_at`)
        VALUES (#{item.shopId},
                #{item.itemName},
                #{item.color},
                #{item.size},
                #{item.price},
                #{item.style},
                #{item.mainCategory},
                #{item.subCategory},
                #{item.detailCategory},
                IFNULL(#{item.createdAt}, NOW()),
                IFNULL(#{item.updatedAt}, NOW()))
    </insert>
    <insert id="insertShopItemImage">
        INSERT INTO `cors`.`shop_item_images` (`product_id`, `image_path`, `original_name`, `created_at`)
        VALUES (
                #{productId},
                #{imagePath},
                #{originalName},
                NOW()
               )
    </insert>
    <insert id="insertLikeItem">
        INSERT INTO `cors`.`like_items` (`user_email`, `shop_id`, `item_id`, `created_at`)
        VALUES (#{likeItem.userEmail}, #{likeItem.shopId}, #{likeItem.itemId}, NOW())
    </insert>
    <update id="updateItem">
        UPDATE `cors`.`shop_items`
        SET
             `item_name` = #{item.itemName},
             `color` = #{item.color},
             `size` = #{item.size},
             `price` = #{item.price},
             `style` = #{item.style},
             `main_category` = #{item.mainCategory},
             `sub_category` = #{item.subCategory},
             `updated_at` = NOW()
         WHERE `id` = #{item.id}
        LIMIT 1
     </update>
    <delete id="deleteItemById">
        DELETE FROM `cors`.`shop_items`
        WHERE `id` = #{id}
        LIMIT 1
    </delete>
    <delete id="deleteLikeItem">
        DELETE FROM `cors`.`like_items`
        WHERE `user_email` = #{userEmail}
          AND `shop_id` = #{shopId}
          AND `item_id` = #{itemId}
    </delete>
    <select id="selectAll">
        SELECT si.`id`               AS `id`,
               si.`item_name`        AS `itemName`,
               si.`shop_id`          AS `shopId`,
               si.`color`            AS `color`,
               si.`size`             AS `size`,
               si.`price`            AS `price`,
               si.`style`            AS `style`,
               si.`main_category`    AS `mainCategory`,
               si.`sub_category`     AS `subCategory`,
               si.`detail_category`  AS `detailCategory`,
               si.`created_at`       AS `createdAt`,
               si.`updated_at`       AS `updateAt`,
               si.`deleted_at`       AS `deletedAt`,
               (SELECT img.`image_path`
                FROM `cors`.`shop_item_images` img
                WHERE img.`product_id` = si.`id`
                LIMIT 1)             AS `imagePath`
        FROM `cors`.`shop_items` si
        ORDER BY si.`updated_at` DESC
    </select>
    <select id="selectAllLikeItems" resultType="dev.gmpark.cors.entities.LikeItemEntity">
        SELECT `user_email` AS `userEmail`,
               `shop_id`    AS `shopId`,
               `item_id`    AS `itemId`,
               `created_at` AS `createdAt`
        FROM `cors`.`like_items`
    </select>
    <select id="selectAllByShopId">
        SELECT si.`id`               AS `id`,
               si.`item_name`        AS `itemName`,
               si.`color`            AS `color`,
               si.`size`             AS `size`,
               si.`price`            AS `price`,
               si.`style`            AS `style`,
               si.`main_category`    AS `mainCategory`,
               si.`sub_category`     AS `subCategory`,
               si.`detail_category`  AS `detailCategory`,
               si.`created_at`       AS `createdAt`,
               si.`updated_at`       AS `updateAt`,
               si.`deleted_at`       AS `deletedAt`,
               (SELECT img.`image_path`
                FROM `cors`.`shop_item_images` img
                WHERE img.`product_id` = si.`id`
                LIMIT 1)             AS `imagePath`
        FROM `cors`.`shop_items` si
        WHERE si.`shop_id` = #{shopId}
        ORDER BY si.`updated_at` DESC
    </select>
    <select id="selectItemById" resultType="dev.gmpark.cors.entities.ShopItemEntity">
        SELECT `id`               AS `id`,
               `shop_id`          AS `shopId`,
               `item_name`        AS `itemName`,
               `color`            AS `color`,
               `size`             AS `size`,
               `price`            AS `price`,
               `style`            AS `style`,
               `main_category`    AS `mainCategory`,
               `sub_category`     AS `subCategory`,
               `detail_category`  AS `detailCategory`,
               `created_at`       AS `createdAt`,
               `updated_at`       AS `updateAt`,
               `deleted_at`       AS `deletedAt`
        FROM `cors`.`shop_items`
        WHERE `id` = #{id}
        LIMIT 1;
    </select>
    <select id="selectItemByStyle" resultType="dev.gmpark.cors.entities.ShopItemEntity">
        SELECT si.`id`               AS `id`,
               si.`shop_id`          AS `shopId`,
               si.`item_name`        AS `itemName`,
               si.`color`            AS `color`,
               si.`size`             AS `size`,
               si.`price`            AS `price`,
               si.`style`            AS `style`,
               si.`main_category`    AS `mainCategory`,
               si.`sub_category`     AS `subCategory`,
               si.`detail_category`  AS `detailCategory`,
               si.`created_at`       AS `createdAt`,
               si.`updated_at`       AS `updateAt`,
               si.`deleted_at`       AS `deletedAt`,
               (SELECT img.`image_path`
                FROM `cors`.`shop_item_images` img
                WHERE img.`product_id` = si.`id`
                LIMIT 1)             AS `imagePath`
        FROM `cors`.`shop_items` si
                 /* [수정 1] 주소 비교를 위해 매장 정보 테이블과 조인 */
                 JOIN `cors`.`shop_info` info ON si.`shop_id` = info.`shop_id`
        WHERE si.`style` = #{style}
        /* [수정 2] 주소 우선순위 정렬 로직 추가 */
        ORDER BY
            (CASE
                 WHEN info.`shop_address` LIKE CONCAT(#{address}, '%') THEN 2
                 WHEN info.`shop_address` LIKE CONCAT(#{region}, '%') THEN 1
                 ELSE 0
                END) DESC,
            si.`updated_at` DESC
        LIMIT 6
    </select>
    <select id="selectItemByIdAndCategory" resultType="dev.gmpark.cors.entities.ShopItemEntity">
        SELECT si.`id`               AS `id`,
        si.`shop_id`          AS `shopId`,
        si.`item_name`        AS `itemName`,
        si.`color`            AS `color`,
        si.`size`             AS `size`,
        si.`price`            AS `price`,
        si.`style`            AS `style`,
        si.`main_category`    AS `mainCategory`,
        si.`sub_category`     AS `subCategory`,
        si.`detail_category`  AS `detailCategory`,
        si.`created_at`       AS `createdAt`,
        si.`updated_at`       AS `updateAt`,
        si.`deleted_at`       AS `deletedAt`,
        (SELECT img.`image_path`
        FROM `cors`.`shop_item_images` img
        WHERE img.`product_id` = si.`id`
        LIMIT 1)             AS `imagePath`
        FROM `cors`.`shop_items` si
        WHERE si.`shop_id` = #{shopId}
        <if test="categoryName != null and categoryName != ''">
            AND (
            si.`main_category` = #{categoryName}
            OR si.`sub_category` = #{categoryName}
            OR si.`detail_category` = #{categoryName}
            )
        </if>
        ORDER BY si.`updated_at` DESC
    </select>
    <resultMap id="ItemWithImages" type="dev.gmpark.cors.vos.ShopItemVo" autoMapping="true">
        <id property="id" column="id"/>

        <collection property="images" ofType="dev.gmpark.cors.entities.ShopItemImagesEntity">
            <id property="id" column="img_id"/> <result property="imagePath" column="img_path"/> <result property="originalName" column="img_name"/>
        </collection>
    </resultMap>
    <select id="selectItemVoById" resultMap="ItemWithImages">
        SELECT
            si.`id`               AS `id`,
            si.`shop_id`          AS `shopId`,
            si.`item_name`        AS `itemName`,
            si.`color`            AS `color`,
            si.`size`             AS `size`,
            si.`price`            AS `price`,
            si.`style`            AS `style`,
            si.`main_category`    AS `mainCategory`,
            si.`sub_category`     AS `subCategory`,
            si.`detail_category`  AS `detailCategory`,
            si.`created_at`       AS `createdAt`,
            si.`updated_at`       AS `updateAt`,
            si.`deleted_at`       AS `deletedAt`,
            img.id            AS img_id,   -- 이미지 컬럼은 이름 겹치니까 별명 붙이기
            img.image_path    AS img_path,
            img.original_name AS img_name
        FROM `cors`.`shop_items` AS `si`
                 LEFT JOIN `cors`.`shop_item_images` AS `img` ON `si`.id = `img`.product_id
        WHERE si.id = #{id}
    </select>
    <select id="selectItemsByKeyword" resultType="dev.gmpark.cors.entities.ShopItemEntity">
        SELECT si.`id`               AS `id`,
        si.`shop_id`          AS `shopId`,
        si.`item_name`        AS `itemName`,
        si.`color`            AS `color`,
        si.`size`             AS `size`,
        si.`price`            AS `price`,
        si.`style`            AS `style`,
        si.`main_category`    AS `mainCategory`,
        si.`sub_category`     AS `subCategory`,
        si.`detail_category`  AS `detailCategory`,
        si.`created_at`       AS `createdAt`,
        si.`updated_at`       AS `updateAt`,
        si.`deleted_at`       AS `deletedAt`,
        info.`shop_name`      AS `shopName`,
        (SELECT img.`image_path`
        FROM `cors`.`shop_item_images` img
        WHERE img.`product_id` = si.`id`
        LIMIT 1)             AS `imagePath`
        FROM `cors`.`shop_items` si
        JOIN `cors`.`shop_info` info ON si.`shop_id` = info.`shop_id`
        WHERE 1=1
        <foreach collection="keywords" item="keyword" open="AND (" separator="AND" close=")">
            (si.`item_name` LIKE CONCAT('%', #{keyword}, '%')
            OR si.`main_category` LIKE CONCAT('%', #{keyword}, '%')
            OR si.`sub_category` LIKE CONCAT('%', #{keyword}, '%')
            OR si.`detail_category` LIKE CONCAT('%', #{keyword}, '%')
            OR si.`style` LIKE CONCAT('%', #{keyword}, '%')
            OR info.`shop_name` LIKE CONCAT('%', #{keyword}, '%'))
        </foreach>
        ORDER BY si.`updated_at` DESC
    </select>

    <!-- 매장 검색 쿼리 수정 (ShopEntity -> ShopInfoEntity) -->
    <select id="selectShopsByKeyword" resultType="dev.gmpark.cors.entities.ShopInfoEntity">
        SELECT `shop_id`          AS `shopId`,
               `user_email`       AS `userEmail`,
               `shop_name`        AS `shopName`,
               `shop_time`        AS `shopTime`,
               `shop_category`    AS `shopCategory`,
               `shop_address`     AS `shopAddress`,
               `shop_tel`         AS `shopTel`,
               `profile_image`    AS `profileImage`,
               `background_image` AS `backgroundImage`
        FROM `cors`.`shop_info`
        WHERE 1=1
        <foreach collection="keywords" item="keyword" open="AND (" separator="AND" close=")">
            (`shop_name` LIKE CONCAT('%', #{keyword}, '%')
            OR `shop_address` LIKE CONCAT('%', #{keyword}, '%')
            OR `shop_category` LIKE CONCAT('%', #{keyword}, '%'))
        </foreach>
        ORDER BY `shop_id` DESC
    </select>

    <select id="selectLikeItemCount" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `cors`.`like_items`
        WHERE `user_email` = #{userEmail}
          AND `shop_id` = #{shopId}
          AND `item_id` = #{itemId}
    </select>
    <select id="selectLikeItemsByUser" resultType="dev.gmpark.cors.vos.LikeItemVo">
        SELECT
            si.`id`               AS `id`,
            si.`item_name`        AS `itemName`,
            si.`price`            AS `price`,
            si.`shop_id`          AS `shopId`,
            info.`shop_name`      AS `shopName`,  /* 요청하신 이미지 서브쿼리 */
            (SELECT img.`image_path`
             FROM `cors`.`shop_item_images` img
             WHERE img.`product_id` = si.`id`
             LIMIT 1)             AS `imagePath`,
            li.`created_at`       AS `createdAt`
        FROM `cors`.`like_items` li
                 INNER JOIN `cors`.`shop_items` si ON li.`item_id` = si.`id`
                 INNER JOIN `cors`.`shop_info` info ON li.`shop_id` = info.`shop_id`
        WHERE li.`user_email` = #{userEmail}
        ORDER BY li.`created_at` DESC
    </select>
    <select id="selectCountAll" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `cors`.`shop_items`
    </select>
    <select id="selectAllItemByPage" resultType="dev.gmpark.cors.entities.ShopItemEntity">
        SELECT si.`id`               AS `id`,
        si.`item_name`        AS `itemName`,
        si.`shop_id`          AS `shopId`,
        si.`color`            AS `color`,
        si.`size`             AS `size`,
        si.`price`            AS `price`,
        si.`style`            AS `style`,
        si.`main_category`    AS `mainCategory`,
        si.`sub_category`     AS `subCategory`,
        si.`detail_category`  AS `detailCategory`,
        si.`created_at`       AS `createdAt`,
        si.`updated_at`       AS `updateAt`,
        si.`deleted_at`       AS `deletedAt`,
        info.`shop_time`      AS `shopTime`,
        (SELECT img.`image_path`
        FROM `cors`.`shop_item_images` img
        WHERE img.`product_id` = si.`id`
        LIMIT 1)             AS `imagePath`
        FROM `cors`.`shop_items` si
        /* [중요] 주소 비교를 위해 매장 정보와 JOIN */
        JOIN `cors`.`shop_info` info ON si.`shop_id` = info.`shop_id`
        <choose>
            <when test="sort == 'popular'">
                ORDER BY
                /* 1순위: 거리 점수 */
                (CASE
                WHEN info.`shop_address` LIKE CONCAT(#{address}, '%') THEN 2
                WHEN info.`shop_address` LIKE CONCAT(#{region}, '%') THEN 1
                ELSE 0
                END) DESC,
                /* 2순위: 좋아요 많은 순 */
                (SELECT COUNT(*) FROM `cors`.`like_items` WHERE `item_id` = si.`id`) DESC,
                si.`updated_at` DESC
            </when>

            <when test="sort == 'price'">
                ORDER BY
<!--                /* 1순위: 거리 점수 */
                (CASE
                WHEN info.`shop_address` LIKE CONCAT(#{address}, '%') THEN 2
                WHEN info.`shop_address` LIKE CONCAT(#{region}, '%') THEN 1
                ELSE 0
                END) DESC,-->
                /* 2순위: 가격 낮은 순 */
                si.`price` ASC
            </when>

            <otherwise>
                ORDER BY si.`updated_at` DESC
            </otherwise>
        </choose>

        LIMIT #{page.rowCount} OFFSET #{page.dbOffset}
    </select>
    <select id="selectItemsByCategoriesOrderByLikes" resultType="dev.gmpark.cors.entities.ShopItemEntity">
        SELECT si.`id`               AS `id`,
               si.`shop_id`          AS `shopId`,
               si.`item_name`        AS `itemName`,
               si.`color`            AS `color`,
               si.`size`             AS `size`,
               si.`price`            AS `price`,
               si.`style`            AS `style`,
               si.`main_category`    AS `mainCategory`,
               si.`sub_category`     AS `subCategory`,
               si.`detail_category`  AS `detailCategory`,
               si.`created_at`       AS `createdAt`,
               si.`updated_at`       AS `updateAt`,
               si.`deleted_at`       AS `deletedAt`,
               (SELECT img.`image_path`
                FROM `cors`.`shop_item_images` img
                WHERE img.`product_id` = si.`id`
                LIMIT 1)             AS `imagePath`,
               (SELECT IFNULL(AVG(ir.`rating`), 0) FROM `cors`.`item_reviews` ir WHERE ir.`item_id` = si.`id`) AS `rating`,
               (SELECT COUNT(0) FROM `cors`.`item_reviews` ir WHERE ir.`item_id` = si.`id`) AS `reviewCount`
        FROM `cors`.`shop_items` si
        WHERE si.`style` IN
        <foreach collection="categories" item="category" open="(" separator="," close=")">
            #{category}
        </foreach>
        ORDER BY `rating` DESC, `reviewCount` DESC, si.`updated_at` DESC
        LIMIT 4
    </select>
    <select id="selectItemsByCategories" resultType="dev.gmpark.cors.entities.ShopItemEntity">
        SELECT si.`id`               AS `id`,
               si.`shop_id`          AS `shopId`,
               si.`item_name`        AS `itemName`,
               si.`color`            AS `color`,
               si.`size`             AS `size`,
               si.`price`            AS `price`,
               si.`style`            AS `style`,
               si.`main_category`    AS `mainCategory`,
               si.`sub_category`     AS `subCategory`,
               si.`detail_category`  AS `detailCategory`,
               si.`created_at`       AS `createdAt`,
               si.`updated_at`       AS `updateAt`,
               si.`deleted_at`       AS `deletedAt`,
               (SELECT img.`image_path`
                FROM `cors`.`shop_item_images` img
                WHERE img.`product_id` = si.`id`
                LIMIT 1)             AS `imagePath`,
               (SELECT IFNULL(AVG(ir.`rating`), 0) FROM `cors`.`item_reviews` ir WHERE ir.`item_id` = si.`id`) AS `rating`,
               (SELECT COUNT(0) FROM `cors`.`item_reviews` ir WHERE ir.`item_id` = si.`id`) AS `reviewCount`
        FROM `cors`.`shop_items` si
        WHERE si.`style` IN
        <foreach collection="categories" item="category" open="(" separator="," close=")">
            #{category}
        </foreach>
        ORDER BY si.`updated_at` DESC
    </select>
    <select id="selectCountAllItems" resultType="_int">
        SELECT COUNT(*) FROM `cors`.`shop_items` WHERE `deleted_at` IS NULL
    </select>
</mapper>
