<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.gmpark.cors.mappers.RegisterMapper">
    <insert id="insertRegister">
        INSERT INTO `cors`.`users`(`name`,`store_name`,`business_num`,`usertype`,`email`,`password`,`phone`,`style`,`address`,`address_detail`,`gender`)
        VALUES (#{register.name},
                #{register.storeName},
                #{register.businessNum},
                #{register.usertype},
                #{register.email},
                #{register.password},
                #{register.phone},
                #{register.style},
                #{register.address},
                #{register.addressDetail},
                #{register.gender}
               )
    </insert>
    <update id="update">
        UPDATE `cors`.`users`
        SET `name` = #{user.name},
            `password` = #{user.password},
            `phone` = #{user.phone},
            `style` = #{user.style},
            `address` = #{user.address},
            `address_detail` = #{user.addressDetail}
        WHERE `email` = #{user.email}
     </update>

    <select id="selectByEmailAndPasswordUser" resultType="dev.gmpark.cors.entities.RegisterEntity">
        SELECT `name`           AS `name`
             , `store_name`     AS `storeName`
             , `business_num`   AS `bubusinessNum`
             , `usertype`       AS `usertype`
             , `email`          AS `email`
             , `password`       AS `password`
             , `phone`          AS `phone`
             , `style`          AS `style`
             , `address`        AS `address`
             , `address_detail` AS `addressDetail`
             , `gender`         AS `gender`
        FROM `cors`.`users`
        WHERE email = #{email}
          AND password = #{password}
        LIMIT 1;
    </select>
    <select id="selectByEmail" resultType="dev.gmpark.cors.entities.RegisterEntity">
        SELECT `name`           AS `name`
             , `store_name`     AS `storeName`
             , `business_num`   AS `bubusinessNum`
             , `usertype`       AS `usertype`
             , `email`          AS `email`
             , `password`       AS `password`
             , `phone`          AS `phone`
             , `style`          AS `style`
             , `address`        AS `address`
             , `address_detail` AS `addressDetail`
             , `gender`         AS `gender`
        FROM `cors`.`users`
        WHERE email = #{email}
        LIMIT 1;
    </select>

</mapper>

<!-- selectByPhone , selectByEmail , selectByPw -->
