<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.gmpark.cors.mappers.RegisterMapper">
    <insert id="insertRegister">
        INSERT INTO `cors`.`users`(`name`,`store_name`,`business_num`,`usertype`,`email`,`password`,`phone`,`style`,`address`,`address_detail`,`gender`,`last_logout_at`,`created_at`,`social_type_code`,`social_id`)
        VALUES (#{register.name},
                #{register.storeName},
                #{register.businessNum},
                #{register.usertype},
                #{register.email},
                #{register.password},
                #{register.phone},
                #{register.style},
                #{register.address},
                #{register.addressDetail},
                #{register.gender},
                IFNULL(#{register.lastLogOutAt}, NOW()),
                IFNULL(#{register.createdAt}, NOW()),
                #{register.socialTypeCode},
                #{register.socialId})
    </insert>
    <insert id="insertMember" parameterType="dev.gmpark.cors.entities.RegisterEntity">
        INSERT INTO `cors`.`users` ( `email`,`password`,`name`,`phone`,`address`,`address_detail`,`usertype`,`level`,`owner_email`,`last_logout_at`,`created_at`      )
        VALUES ( #{email},#{password},#{name},#{phone},#{address},#{addressDetail},#{usertype},#{level},#{ownerEmail},#{lastLogOutAt},NOW() )
    </insert>
    <update id="update">
        UPDATE `cors`.`users`
        SET `name` = #{user.name},
            `password` = #{user.password},
            `phone` = #{user.phone},
            `style` = #{user.style},
            `address` = #{user.address},
            `address_detail` = #{user.addressDetail},
            `last_logout_at` = #{user.lastLogOutAt}
        WHERE `email` = #{user.email}
     </update>
    <update id="updateLastLogout">
        UPDATE `cors`.`users`
        SET `last_logout_at` = NOW()
        WHERE `email` = #{email}
    </update>
    <update id="updateMember">
        UPDATE `cors`.`users`
        SET `name` = #{member.name},
            `level` = #{member.level}
        WHERE `email` = #{member.email}
    </update>
    <update id="updatePassword">
        UPDATE `cors`.`users`
        SET `password` = #{password}
        WHERE `email` = #{email}
    </update>
    <delete id="delete">
        DELETE FROM `cors`.`users`
        WHERE `email` = #{user.email}
    </delete>
    <select id="selectByEmailAndPasswordUser" resultType="dev.gmpark.cors.entities.RegisterEntity">
        SELECT `name`           AS `name`
             , `store_name`     AS `storeName`
             , `business_num`   AS `businessNum`
             , `usertype`       AS `usertype`
             , `email`          AS `email`
             , `password`       AS `password`
             , `phone`          AS `phone`
             , `style`          AS `style`
             , `address`        AS `address`
             , `address_detail` AS `addressDetail`
             , `gender`         AS `gender`
        FROM `cors`.`users`
        WHERE email = #{email}
          AND password = #{password}
        LIMIT 1;
    </select>
    <select id="selectByEmail" resultType="dev.gmpark.cors.entities.RegisterEntity">
        SELECT `name`           AS `name`
             , `store_name`     AS `storeName`
             , `business_num`   AS `businessNum`
             , `usertype`       AS `usertype`
             , `email`          AS `email`
             , `password`       AS `password`
             , `phone`          AS `phone`
             , `style`          AS `style`
             , `address`        AS `address`
             , `address_detail` AS `addressDetail`
             , `gender`         AS `gender`
             , `owner_email`    AS `ownerEmail`
             , `created_at`     AS `createdAt`
             , `level`          AS `level`
             , `last_logout_at` AS `lastLogOutAt`
        FROM `cors`.`users`
        WHERE email = #{email}
        LIMIT 1;
    </select>
    <select id="selectMembersByOwner" resultType="dev.gmpark.cors.entities.RegisterEntity">
        SELECT `email`
        , `name`
        , `level`
        , `phone`
        , `last_logout_at` AS `lastLogOutAt`
        , `created_at`     AS `createdAt`  FROM `cors`.`users`
        WHERE `owner_email` = #{ownerEmail}

        <if test="level != null">
            AND `level` = #{level}
        </if>
        ORDER BY `created_at` DESC
    </select>
    <select id="selectUserBySocial" resultType="dev.gmpark.cors.entities.RegisterEntity">
        SELECT `name`           AS `name`
             , `store_name`     AS `storeName`
             , `business_num`   AS `businessNum`
             , `usertype`       AS `usertype`
             , `email`          AS `email`
             , `password`       AS `password`
             , `phone`          AS `phone`
             , `style`          AS `style`
             , `address`        AS `address`
             , `address_detail` AS `addressDetail`
             , `gender`         AS `gender`
             , `owner_email`    AS `ownerEmail`
             , `created_at`     AS `createdAt`
             , `level`          AS `level`
             , `last_logout_at` AS `lastLogOutAt`
             , `social_id`      AS `socialId`
             , `social_type_code` AS `socialTypeCode`
        FROM `cors`.`users`
        WHERE `social_id` = #{socialId}
          AND `social_type_code` = #{socialTypeCode}
        LIMIT 1;
    </select>

</mapper>
