<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.gmpark.cors.mappers.ShopInfoMapper">

    <insert id="insert" useGeneratedKeys="true" keyColumn="info.shopId" keyProperty="info.shopId">
        INSERT INTO `cors`.`shop_info` (
            user_email,
            shop_name,
            shop_time,
            shop_category,
            shop_address,
            shop_tel,
            profile_image,
            background_image
        ) VALUES (
                     #{info.userEmail},
                     #{info.shopName},
                     #{info.shopTime},
                     #{info.shopCategory},
                     #{info.shopAddress},
                     #{info.shopTel},
                     #{info.profileImage},
                     #{info.backgroundImage}
                 )
    </insert>
    <insert id="insertLikeShop">
        INSERT INTO `cors`.`like_shops` (user_email, shop_id, created_at)
        VALUES (
                 #{like.userEmail},
                #{like.shopId},
                #{like.createdAt}
               )
    </insert>
    <delete id="deleteLikeShop">
        DELETE FROM `cors`.`like_shops`
        WHERE `shop_id` = #{shopId} AND `user_email` = #{email}
    </delete>
    <select id="selectShopByUserEmail" resultType="dev.gmpark.cors.entities.ShopInfoEntity">
        SELECT
            shop_id          AS shopId,
            user_email       AS userEmail,
            shop_name        AS shopName,
            shop_time        AS shopTime,
            shop_category    AS shopCategory,
            shop_address     AS shopAddress,
            shop_tel         AS shopTel,
            profile_image    AS profileImage,
            background_image AS backgroundImage
        FROM `cors`.`shop_info`
        WHERE user_email = #{email}
    </select>
    <select id="selectAllShops" resultType="dev.gmpark.cors.entities.ShopInfoEntity">
        SELECT
            shop_id          AS shopId,
            user_email       AS userEmail,
            shop_name        AS shopName,
            shop_time        AS shopTime,
            shop_category    AS shopCategory,
            shop_address     AS shopAddress,
            shop_tel         AS shopTel,
            profile_image    AS profileImage,
            background_image AS backgroundImage
        FROM `cors`.`shop_info`
        ORDER BY `shopId` DESC
    </select>
    <select id="selectSixShops">
        SELECT
            shop_id          AS shopId,
            user_email       AS userEmail,
            shop_name        AS shopName,
            shop_time        AS shopTime,
            shop_category    AS shopCategory,
            shop_address     AS shopAddress,
            shop_tel         AS shopTel,
            profile_image    AS profileImage,
            background_image AS backgroundImage
        FROM `cors`.`shop_info`
        ORDER BY `shopId` DESC
        LIMIT 6
    </select>
    <select id="selectShopByShopId" resultType="dev.gmpark.cors.entities.ShopInfoEntity">
        SELECT
            shop_id          AS shopId,
            user_email       AS userEmail,
            shop_name        AS shopName,
            shop_time        AS shopTime,
            shop_category    AS shopCategory,
            shop_address     AS shopAddress,
            shop_tel         AS shopTel,
            profile_image    AS profileImage,
            background_image AS backgroundImage
        FROM `cors`.`shop_info`
        WHERE shop_id = #{shopId}
    </select>
    <select id="selectLikeCount" resultType="java.lang.Integer">
        SELECT COUNT(user_email)
        FROM `cors`.`like_shops`
        WHERE user_email = #{like.userEmail}
          AND shop_id = #{like.shopId}
    </select>
    <select id="selectLikedShopsByUser">
        SELECT t1.shop_id          AS shopId,
               t1.user_email       AS userEmail,
               t1.shop_name        AS shopName,
               t1.shop_time        AS shopTime,
               t1.shop_category    AS shopCategory,
               t1.shop_address     AS shopAddress,
               t1.shop_tel         AS shopTel,
               t1.profile_image    AS profileImage,
               t1.background_image AS backgroundImage,
               t2.created_at       AS likedAt
        FROM cors.shop_info AS t1
                 INNER JOIN cors.like_shops AS t2
                            ON t2.shop_id = t1.shop_id
        WHERE t2.user_email = #{userEmail}
        ORDER BY t2.created_at DESC
    </select>
    <select id="selectLikeCountByShopId" resultType="java.lang.Integer">
        SELECT COUNT(`user_email`)
        FROM `cors`.`like_shops`
        WHERE `shop_id` = #{shopId}
    </select>
    <select id="selectAllByPage">
        SELECT
            shop_id          AS shopId,
            user_email       AS userEmail,
            shop_name        AS shopName,
            shop_time        AS shopTime,
            shop_category    AS shopCategory,
            shop_address     AS shopAddress,
            shop_tel         AS shopTel,
            profile_image    AS profileImage,
            background_image AS backgroundImage
        FROM `cors`.`shop_info`
        ORDER BY `shopId` DESC
        LIMIT #{page.rowCount} OFFSET #{page.dbOffset}
    </select>
    <select id="selectCountAll" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `cors`.`shop_info`
    </select>
    <update id="update">
        UPDATE `cors`.`shop_info`
        SET
        shop_name = #{info.shopName},
        shop_time = #{info.shopTime},
        shop_category = #{info.shopCategory},
        shop_address = #{info.shopAddress},
        shop_tel = #{info.shopTel}
        <if test="info.profileImage != null">
            , profile_image = #{info.profileImage}
        </if>
        <if test="info.backgroundImage != null">
            , background_image = #{info.backgroundImage}
        </if>
        WHERE user_email = #{info.userEmail}
    </update>
    <select id="selectShopsByCategories" resultType="dev.gmpark.cors.entities.ShopInfoEntity">
        SELECT
            shop_id          AS shopId,
            user_email       AS userEmail,
            shop_name        AS shopName,
            shop_time        AS shopTime,
            shop_category    AS shopCategory,
            shop_address     AS shopAddress,
            shop_tel         AS shopTel,
            profile_image    AS profileImage,
            background_image AS backgroundImage
        FROM `cors`.`shop_info`
        WHERE shop_category IN
        <foreach collection="categories" item="category" open="(" separator="," close=")">
            #{category}
        </foreach>
        ORDER BY `shopId` DESC
    </select>
</mapper>
