@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

:root {
    --basis-font-color: rgb(206, 206, 206);
}
*{margin :0; padding:0; box-sizing: border-box;}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200vh; /* 스크롤 공간 */
    overflow-x: hidden;
    font-family: 'Gowun Dodum', sans-serif;
}
.welcome-section {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    color: #fefefec9;

}

.welcome-section .welcome-img {
        position: absolute;
        filter: invert(100%) brightness(200%);
        opacity: 0.8;

}
.welcome-section .welcome-img img {
    width: 30rem;
}

.welcome-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    object-fit: cover;
    object-position: center 30%;
    z-index: -1;
    transition: all 0.5s ease;
}
.welcome-section #scroll-down-btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 20%;
    outline: none;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0.25rem 1.8rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease;
}


.welcome-section #scroll-down-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    transform: translateX(-50%) scale(1.1);
}
.welcome-section .text {
    font-size: 1.2rem;
    transform: translateY(4rem);

}
/* 내부 이미지 */
.welcome-section #scroll-down-btn img {
    width: 1.2rem;
    height: auto;
    opacity: 0.7;
    user-select: none;
    pointer-events: none;

}

.login-layout-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: url("/assets/images/login/clothes.jpeg") no-repeat center/cover;
    transform: translateY(100%);
    z-index: 10;
    box-shadow: 0 -20px 50px rgba(0,0,0,0.5);
}
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(215, 224, 232, 0.9);
    padding: 13rem 3rem 3rem;
    border-radius: 1rem;
    z-index: 11;
}

.site-logo {
    position: absolute;
    width: 20rem;
    aspect-ratio: 1 / 1;
    top: -16rem;
    left: 50%;
    transform: translateX(-50%);
    filter: invert(20%);
}
.site-logo-welcome {
    position: absolute;
    width: 30rem;
    aspect-ratio: 1 / 1;
    top: -16rem;
    left: 50%;
    transform: translateX(-50%);
    filter: invert(20%);
}
#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-form h1 {
    font-size: 2rem;
    color: #312f2f;
    margin-bottom:50px;
    text-align: center;
}

.int-area
{
    position: relative;
    width: 400px;

}
.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    border-bottom: 0.13rem solid #fefefe;
    color: #4d4d4d;
    font-size: 1.2rem;
    outline: none;
}
.int-area input:first-child {
    margin-bottom: 0.5rem;
}
/* 입력창 클릭(포커스) 시 하단 라인 색상 변경 */
.int-area input:focus {
    border-bottom: 2px solid #23B1FA;
}

/* 포커스 시 라벨 색상도 테마 색상으로 맞춤 (선택사항) */
.int-area input:focus + label {
    color: #23B1FA !important;
}
.int-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 1.2rem;
    color: #4d4d4d;
    transition: 0.5s;
}

.int-area input:focus + label ,input:valid + label  {
    top: 0;
    font-size: 0.9rem;
    color: #878787;
}

.btn-area {
    margin-top: 30px;
}

.btn-area button {
    width: 100%;
    height: 50px;
    background: #23B1FA;
    color: #eaeaea;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    opacity: 100% !important;
    /*font-family: "Gowun Dodum", sans-serif;*/
    font-weight: 600;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
}
.caption {
    margin-top : 2.3rem;
    text-align: center;
}
.caption a:hover{
    opacity: 0.7;
}
.caption a {
    font-size: 1rem;
    color: #4d4d4d;
    text-decoration: none;
}
.caption img {
    width: 2rem;
}
.caption.sns {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    right: 0.3rem;
}
.caption.sns > .sns{
    transform: translateY(-1.4rem) translateX(-2.5rem);;
    position: absolute;
    font-size: 0.7rem;
    width: 9rem;
    color: #ffff;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 700;
}
.caption.sns > .text {
   transform: translateY(2rem) translateX(0.1rem);;
    position: absolute;
    font-size: 0.5rem;
}
.caption.sns > .text.naver {
    transform: translateY(2rem) translateX(2.9rem);
    position: absolute;
    font-size: 0.5rem;
}



@media (min-width: 20rem) {
    .welcome-section video {
        filter: grayscale(10%);
    }
    .welcome-section .welcome-img {
        position: absolute;
        transform: translateY(-8rem); /* 작은 화면에서는 위로 올림 */
        filter: invert(100%) brightness(200%);
        opacity: 0.8;

    }
    .welcome-section .welcome-img img {
        width: 20rem;
    }
    .welcome-section .text {
            transform: translateY(-9rem);
        font-size: 0.9rem;
    }

}

@media (min-width: 50rem) {
    .welcome-section video {
        filter: grayscale(10%);
    }
    .welcome-section .welcome-img {
        position: absolute;
        transform: translateY(0); /* 여기서 다시 0으로 원상복구! */
        filter: invert(100%) brightness(200%);
        opacity: 0.8;

    }
    .welcome-section .welcome-img img {
        width: 24rem;
    }
    .welcome-section .text {
        transform: translateY(2rem);
        font-size: 1rem;
    }
}
@media (min-width: 75rem) {
    .welcome-section video {
        filter: grayscale(10%);
    }
    .welcome-section .welcome-img {
        position: absolute;

        filter: invert(100%) brightness(200%);
        opacity: 0.8;

    }
    .welcome-section .welcome-img img {
        width: 28rem;
    }
    .welcome-section .text {
        transform: translateY(4rem);
        letter-spacing: 0.1rem;
        font-size: 1.1rem;
    }

}





/*대화면 1920 px 이상*/
@media screen and (max-width: 100rem) {
    .site-logo-welcome {
        width: 25rem; /* 30rem -> 25rem 축소 */
    }
}

/*일반노트북*/
@media screen and (max-width: 80rem) {

}
/*  노트북/데스크탑 (1024px 이상) */
@media (max-width: 64rem) {
    .site-logo-welcome {
        width: 20rem; /* 30rem -> 25rem 축소 */
    }
}
/* 태블릿 세로 (768px 이상) */
@media (max-width: 48rem) {

}
/*스마트폰*/
@media screen and (max-width: 32rem) {
    .login-layout-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: url("/assets/images/login/white-back.jpg") no-repeat center/cover;
        transform: translateY(100%);
        z-index: 10;
        box-shadow: 0 -20px 50px rgba(0,0,0,0.5);
    }
    .login-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        padding: 13rem 3rem 3rem;
        border-radius: 1rem;
        z-index: 11;
    }

    .site-logo {
        position: absolute;
        width: 15rem;
        aspect-ratio: 1 / 1;
        top: -13rem;
        left: 50%;
        transform: translateX(-50%);
        filter: invert(20%);
    }
    #logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .login-form h1 {
        font-size: 2rem;
        color: #312f2f;
        margin-bottom:50px;
        text-align: center;
    }

    .int-area
    {
        position: relative;
        width: 20rem;

    }
    .int-area input {
        width: 100%;
        padding: 20px 10px 10px;
        background: transparent;
        border: none;
        border-bottom: 0.13rem solid #d1d1d1;
        color: #4d4d4d;
        font-size: 1.2rem;
        outline: none;
    }
    .caption.sns > .sns{
        transform: translateY(-1.4rem) translateX(-2.5rem);;
        position: absolute;
        font-size: 0.7rem;
        width: 9rem;
        color: #9c9c9c;
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        font-weight: 700;
    }

}

