<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>SHOP list</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/shoplist/index.css">
    <link href="/assets/images/login/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/assets/scripts/shoplist/shoplist.js"></script>
</head>
<body>
<!-- 헤더부분 , 로고와 네비바가 들어감 -->
<th:block th:replace="~{/fragments/common.html :: customer-header}">
</th:block>

<!--스크롤스냅 적용된 가로 슬라이더: 각 img에 id부여하여 앵커이동-->
<!--헤더에 호버하면 나타나는 메뉴 -->
<main id="main" >
    <img src="../assets/images/my/waviness.png" class="image" alt="메인이미지">
</main> <!-- 헤더뒤에 배경 -->
<div id="shop">
    <div class="shop-list">매장 목록</div>
    <label class="option-list">
        <button class="item">영업중</button>
        <button class="item">거리순</button>
        <button class="item">인기순</button>
    </label>
    <button id="map"><a href="../NEARBYSHOP/nearbyshop.html">지도보기</a></button>
    <ul class="store-list">
        <li class="store" >
            <a href="../SHOP/shop.html">
            <img class="image" src="../assets/images/mypage/shop/shop3.png" alt="매장이미지">
            <div class="store-info">
                <div class="firstLine">
                    <span class="name">waviness</span>
                    <span class="km">0.67km</span>
                </div>
                <div class="address">Yongsan District, seoul</div>
                <div class="time">영업중 10:00~22:00</div>
                <div class="tag-area">
                    <span class="tag">예약 가능</span>
                    <span class="tag">픽업 가능</span>
                </div>
            </div>
            </a>
        </li>
<!--        <li class="store">
            <a href="../SHOP/shop.html">
                <img class="image" src="../assets/images/mypage/shop/shop1.webp" alt="매장이미지">
                <div class="store-info">
                    <div class="firstLine">
                        <span class="name">Fogssy 포그씨</span>
                        <span class="km">0.15km</span>
                    </div>
                    <div class="address">ACSan-ro, 5-gil,24-11</div>
                    <div class="time">영업중 10:00~22:00</div>
                    <div class="tag-area">
                        <span class="tag">예약가능</span>
                        <span class="tag">픽업가능</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="store">
            <a href="../SHOP/shop.html">
                <img class="image" src="../assets/images/mypage/shop/shop2.webp" alt="매장이미지">
                <div class="store-info">
                    <div class="firstLine">
                        <span class="name">수아레 성수 플래그십 스토어</span>
                        <span class="km">0.67km</span>
                    </div>
                    <div class="address">Seongdong-gu, seoul</div>
                    <div class="time">영업중 10:00~22:00</div>
                    <div class="tag-area">
                        <span class="tag">예약가능</span>
                        <span class="tag">픽업가능</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="store">
            <a href="../SHOP/shop.html">
                <img class="image" src="../assets/images/mypage/shop/shop4.webp" alt="매장이미지">
                <div class="store-info">
                    <div class="firstLine">
                        <span class="name">TonyWack 한남</span>
                        <span class="km">0.67km</span>
                    </div>
                    <div class="address">Yongsan District, seoul</div>
                    <div class="time">영업중 10:00~22:00</div>
                    <div class="tag-area">
                        <span class="tag">예약가능</span>
                        <span class="tag">픽업가능</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="store" >
            <a href="../SHOP/shop.html">
                <img class="image" src="../assets/images/mypage/shop/shop3.png" alt="매장이미지">
                <div class="store-info">
                    <div class="firstLine">
                        <span class="name">waviness</span>
                        <span class="km">0.67km</span>
                    </div>
                    <div class="address">Yongsan District, seoul</div>
                    <div class="time">영업중 10:00~22:00</div>
                    <div class="tag-area">
                        <span class="tag">예약 가능</span>
                        <span class="tag">픽업 가능</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="store">
            <a href="../SHOP/shop.html">
                <img class="image" src="../assets/images/mypage/shop/shop1.webp" alt="매장이미지">
                <div class="store-info">
                    <div class="firstLine">
                        <span class="name">Fogssy 포그씨</span>
                        <span class="km">0.15km</span>
                    </div>
                    <div class="address">ACSan-ro, 5-gil,24-11</div>
                    <div class="time">영업중 10:00~22:00</div>
                    <div class="tag-area">
                        <span class="tag">예약가능</span>
                        <span class="tag">픽업가능</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="store">
            <a href="../SHOP/shop.html">
                <img class="image" src="../assets/images/mypage/shop/shop2.webp" alt="매장이미지">
                <div class="store-info">
                    <div class="firstLine">
                        <span class="name">수아레 성수 플래그십 스토어</span>
                        <span class="km">0.67km</span>
                    </div>
                    <div class="address">Seongdong-gu, seoul</div>
                    <div class="time">영업중 10:00~22:00</div>
                    <div class="tag-area">
                        <span class="tag">예약가능</span>
                        <span class="tag">픽업가능</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="store">
            <a href="../SHOP/shop.html">
                <img class="image" src="../assets/images/mypage/shop/shop4.webp" alt="매장이미지">
                <div class="store-info">
                    <div class="firstLine">
                        <span class="name">TonyWack 한남</span>
                        <span class="km">0.67km</span>
                    </div>
                    <div class="address">Yongsan District, seoul</div>
                    <div class="time">영업중 10:00~22:00</div>
                    <div class="tag-area">
                        <span class="tag">예약가능</span>
                        <span class="tag">픽업가능</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="store" >
            <a href="../SHOP/shop.html">
                <img class="image" src="../assets/images/mypage/shop/shop3.png" alt="매장이미지">
                <div class="store-info">
                    <div class="firstLine">
                        <span class="name">waviness</span>
                        <span class="km">0.67km</span>
                    </div>
                    <div class="address">Yongsan District, seoul</div>
                    <div class="time">영업중 10:00~22:00</div>
                    <div class="tag-area">
                        <span class="tag">예약 가능</span>
                        <span class="tag">픽업 가능</span>
                    </div>
                </div>
            </a>
        </li>-->
    </ul>

</div>
</body>
</html>