<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>매장목록</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/shoplist/index.css">
    <link href="/assets/images/login/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/assets/scripts/shoplist/shoplist.js"></script>
</head>
<body>
<!-- 헤더부분 , 로고와 네비바가 들어감 -->
<th:block th:replace="~{/fragments/common.html :: customer-header}">
</th:block>

<!--스크롤스냅 적용된 가로 슬라이더: 각 img에 id부여하여 앵커이동-->
<!--헤더에 호버하면 나타나는 메뉴 -->
<main id="main" >
    <img src="/assets/images/main/splash1.jpg" class="image" alt="메인이미지">
</main> <!-- 헤더뒤에 배경 -->
<div id="shop">
    <div class="shop-list">매장 목록</div>
    <label class="option-list">
        <button class="item"
                th:onclick="|location.href='@{/shops(sort='distance')}'|"
                th:style="${sort == 'distance' or sort == null} ? 'background-color:#333; color:#fff;' : ''">
            거리순
        </button>

        <button class="item"
                th:onclick="|location.href='@{/shops(sort='popular')}'|"
                th:style="${sort == 'popular'} ? 'background-color:#333; color:#fff;' : ''">
            인기순
        </button>
    </label>
    <button id="map"><a href="/nearby-shop">지도보기</a></button>
    <ul class="store-list">
        <li class="store" th:each="shop : ${shops}" >
            <a href="../SHOP/shop.html" th:href="@{/shop/(shopId=${shop.shopId})}" >
                <img class="image" th:src="${shop.profileImage != null} ?  ${shop.profileImage} : '/assets/images/ownermain/item-list/default.png'" alt="매장이미지">
                <div class="store-info">
                    <div class="firstLine">
                        <span class="name" th:text="${shop.shopName}">waviness</span>
                        <span class="km" th:text="${shop.shopCategory}">0.67km</span>
                    </div>
                    <div class="address" th:text="${shop.shopAddress}">Yongsan District, seoul</div>
                    <div class="time" th:text="${shop.shopTime}">영업중 10:00~22:00</div>
                    <div class="tag-area">
                        <span class="tag">예약 가능</span>
                        <span class="tag">영업 중</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="page-container" th:if="${pageVo != null and pageVo.totalCount > 0}">

        <div class="group prev" th:if="${pageVo.requestPage > 1}">
            <a class="link" th:href="@{/shops(page=${pageVo.requestPage - 1}, sort=${sort})}">&lt; 이전</a>
        </div>

        <div class="group link"
             th:each="page : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}"
             th:classappend="${page == pageVo.requestPage} ? ' -selected'"  >
            <a class="link" th:href="@{/shops(page=${page}, sort=${sort})}" th:text="${page}">1</a>
        </div>

        <div class="group next" th:if="${pageVo.requestPage < pageVo.maxPage}">
            <a class="link" th:href="@{/shops(page=${pageVo.requestPage + 1})}">다음 &gt;</a>
        </div>

    </div>
</div>
</body>
</html>