@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Black+Han+Sans&family=Gowun+Dodum&family=Lavishly+Yours&family=Nanum+Brush+Script&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Black+Han+Sans&family=Gowun+Dodum&family=Lavishly+Yours&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&family=Yellowtail&display=swap');
#inner >.item >.text-container >.title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}
#inner >.item >.text-container >.description{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: #a0a0a0;
}
#inner >.item {
    padding: 4rem 0 1rem 0;
}
#inner .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
}
#inner .grid .box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#inner .grid .image {
    width: 100%;
    height: 18rem; /* 고정 높이 */
    object-fit: contain; /* 이미지가 잘리지 않고 전체가 보이도록 설정 */
    border-radius: 10px;

    background-color: #fff; /* 여백 배경색 */
}
#inner .grid >.box >.info {
   padding: 0.5rem 0;
}
#inner .grid >.box >.info > .title {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 0.2rem 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#inner .grid >.box >.info > .subtitle {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #a0a0a0;
    display: flex;
    justify-content: space-between;
}
