<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Result</title>
    <link rel="stylesheet" href="/assets/styles/searchresult/index.css">
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link href="/assets/images/login/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <script defer src="/assets/scripts/common.js"></script>
</head>
<body>
<!-- 헤더부분 , 로고와 네비바가 들어감 -->
<th:block th:replace="~{/fragments/common.html :: customer-header}">
</th:block>
<main id="main" >
    <img src="../assets/images/my/waviness.png" class="image" alt="" >
</main>
<!-- 헤더뒤에 배경 -->
<form class="search-form box">
    <label class="label" >
        <svg class="icon box" xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 32 32" version="1.1">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Icon-Set" transform="translate(-256.000000, -1139.000000)" fill="#000000">
                    <path d="M269.46,1163.45 C263.17,1163.45 258.071,1158.44 258.071,1152.25 C258.071,1146.06 263.17,1141.04 269.46,1141.04 C275.75,1141.04 280.85,1146.06 280.85,1152.25 C280.85,1158.44 275.75,1163.45 269.46,1163.45 L269.46,1163.45 Z M287.688,1169.25 L279.429,1161.12 C281.591,1158.77 282.92,1155.67 282.92,1152.25 C282.92,1144.93 276.894,1139 269.46,1139 C262.026,1139 256,1144.93 256,1152.25 C256,1159.56 262.026,1165.49 269.46,1165.49 C272.672,1165.49 275.618,1164.38 277.932,1162.53 L286.224,1170.69 C286.629,1171.09 287.284,1171.09 287.688,1170.69 C288.093,1170.3 288.093,1169.65 287.688,1169.25 L287.688,1169.25 Z" >
                    </path>
                </g>
            </g>
        </svg>
        <input autofocus required class="input" maxlength="50" minlength="1" name="keyword" type="search" autocomplete="off">
    </label>
</form >

<div  class="grid box">
    <a href="">
        <div class="image-wrapper" ><img src="https://contents.sixshop.com/thumbnails/uploadedFiles/117177/product/image_1758505259177_1000.png" alt="이미지"></div>
        <div class="text-wrapper">
            <span class="title">Double Frame Round Neck Cardigan-Navy</span>
            <span class="price">17,5000원</span>
        </div>
    </a>
    <a href="">
        <div class="image-wrapper" ><img src="https://contents.sixshop.com/thumbnails/uploadedFiles/117177/product/image_1758505360576_1000.png" alt="이미지"></div>
        <div class="text-wrapper">
            <span class="title">Double Frame Round Neck Cardigan-Burgundy</span>
            <span class="price">17,5000원</span>
        </div>
    </a>
    <a href="">
        <div class="image-wrapper" ><img src="https://contents.sixshop.com/thumbnails/uploadedFiles/117177/product/image_1758505121628_1000.png" alt="이미지"></div>
        <div class="text-wrapper">
            <span class="title">Double Frame Round Neck Cardigan-Grey</span>
            <span class="price">17,5000원</span>
        </div>
    </a>
    <a href="">
        <div class="image-wrapper" ><img src="https://contents.sixshop.com/thumbnails/uploadedFiles/117177/product/image_1758505470435_1000.png" alt="이미지"></div>
        <div class="text-wrapper">
            <span class="title">Double Frame Round Neck Cardigan-Black</span>
            <span class="price">17,5000원</span>
        </div>
    </a>

</div>

<script>
    document.addEventListener('scroll', function() {
        const header = document.getElementById('header');
        if (window.scrollY > 0) {
            header.classList.add('scroll-active');
        } else {
            header.classList.remove('scroll-active');
        }
    });
    // 검색창에 있는 헤더를 위한
    const searchIcon = document.querySelector('.glass');
    const searchInput = document.getElementById('searchInput');

    // 돋보기 아이콘에 'click' 이벤트 리스너를 추가합니다.
    searchIcon.addEventListener('click', (event) => {
        // a 태그의 기본 동작(페이지 이동 등)을 막습니다.
        event.preventDefault();

        // searchInput 요소에 'show' 클래스를 추가하거나 제거합니다 (toggle).
        searchInput.classList.toggle('show');

        // 만약 검색창이 보이는 상태가 되었다면, 바로 입력할 수 있도록 focus를 줍니다.
        if (searchInput.classList.contains('show')) {
            searchInput.focus();
        }
    });
</script>

</body>
</html>