<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Result</title>
    <link rel="stylesheet" href="/assets/styles/searchresult/index.css">
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link href="/assets/images/login/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <script defer src="/assets/scripts/common.js"></script>
</head>
<body>
<!-- 헤더부분 , 로고와 네비바가 들어감 -->
<th:block th:replace="~{/fragments/common.html :: customer-header}">
</th:block>
<main id="main" >
    <img src="/assets/images/main/splash1.jpg" class="image" alt="" >
</main>
<!-- 헤더뒤에 배경 -->
<form class="search-form box" method="get" action="/search-result">
    <label class="label" >
        <svg class="icon box" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24" width="24px" height="24px">
            <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
        </svg>
        <input autofocus required class="input" maxlength="50" minlength="1"
               name="keyword" type="search" autocomplete="off"
               th:value="${keyword}"> </label>
</form >

<div class="grid box">
    <a th:each="item : ${searchResults}"
       th:href="@{'/item/?id=' + ${item.id}}"
       th:if="${searchResults != null and searchResults.length > 0}">

        <div class="image-wrapper">
            <img th:src="@{'/images/' + ${item.imagePath}}"
                 th:if="${item.imagePath != null}" alt="상품 이미지">
            <img src="/assets/images/item/front.png"
                 th:unless="${item.imagePath != null}" alt="기본 이미지">
        </div>
        <div class="text-wrapper">
            <span class="title" th:text="${item.itemName}">상품명</span>
            <span class="price" th:text="${#numbers.formatInteger(item.price, 0, 'COMMA') + '원'}">가격</span>
        </div>
    </a>

    <div th:if="${searchResults == null or searchResults.length == 0}"
         style="grid-column: 1 / -1; text-align: center; padding: 50px; font-size: 1.2rem; color: #666;">
        '<span th:text="${keyword}" style="font-weight: bold;"></span>'에 대한 검색 결과가 없습니다.
    </div>
</div>

</body>
</html>