<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>NearByShop</title>
    <link rel="stylesheet" href="/assets/styles/nearbyshop/index.css" class="href">
    <link rel="stylesheet" href="/assets/styles/nearbyshop/common.css" class="href">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link href="/assets/images/login/favicon.png" rel="icon"  >
    <link rel="stylesheet" href="/assets/styles/common.css">
    <script defer src="/assets/scripts/common.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dbcb22a9911b142fc070c041189c30b6&libraries=services,clusterer,drawing"></script>
    <script defer src="/assets/scripts/nearbyshop/nearbyshop.js"></script>
    <script th:inline="javascript">
        const serverShopList = [[${shops}]];
    </script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: customer-header}"></th:block>
<th:block th:replace="~{/fragments/common.html :: customer-mobile-header}">
</th:block>
<th:block th:replace="~{/fragments/common.html :: customer-mobile-footer}">
</th:block>

<main id="main" >
    <img src="/assets/images/main/splash1.jpg" class="image" alt="메인이미지">
</main>

<input type="hidden" id="user-address" th:value="${sessionUser.getAddress()}">

<div id="map-wrapper">
    <div id="map-background"></div>
    <ul class="shop-list">
        <li class="shop-detail"
            th:each="shop, stat : ${shops}"
            th:if="${stat.index < 7}"
            th:data-shop-id="${shop.shopId}">
            <div class="store-info-wrapper">
                <div class="store-info">
                    <div class="info-header">
                        <div class="firstLine">
                            <span class="name" th:text="${shop.shopName}">waviness</span>
                            <span class="km" th:text="${shop.shopCategory}">(0.67km)</span>
                        </div>
                        <span class="toggle-icon">▼</span>
                    </div>
                    <div class="info-body">
                        <div class="address" th:text="${shop.shopAddress}">Yongsan District, seoul</div>
                        <div class="time"  th:text="${shop.shopTime}">영업중 10:00~22:00</div>
                        <div class="tag-area">
                            <span class="tag">예약 가능</span>
                            <span class="tag">영업 중</span>
                        </div>
                        <a th:href="@{/shop/(shopId=${shop.shopId})}" class="detail-link">매장 상세 보기 &rarr;</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<button id="shop-header"><a href="/shops">매장 목록 보기</a></button>
</body>
</html>