<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<div th:fragment="home" class="tab-content">
    <div class="user_membership">
        <div class="user_detail">
            <div class="user_thumb">
                <img src="/assets/images/my/thumb.png" alt="썸네일" class="thumb">
            </div>
            <div class="user_info">
                <strong class="name" th:text="${sessionUser.name}" >user name</strong>
                <span class="email" th:text="${sessionUser.email}">kr****@naver.com</span>
                <span class="point" th:text="${sessionUser.point}">잔여포인트:500  </span>
            </div>
            <div class="info-buttons">
                <label onclick="loadTab('profile', document.querySelectorAll('.menu .item')[4])" class="btn profile" style="cursor:pointer">프로필 관리</label>
                <!--<label onclick="loadTab('custom', document.querySelectorAll('.menu .item')[6])" class="btn myStyle" style="cursor:pointer">맞춤 정보</label>-->
            </div>
        </div>
    </div>
    <div class="shortcut-grid">
        <div class="my_home_title">
            <h3 class="title">구매내역</h3>
            <label onclick="loadTab('orders', document.querySelectorAll('.menu .item')[0])" class="more" style="cursor:pointer">더보기 </label>
        </div>
        <div class="recent_item">
            <label class="list" th:each="order, stat  : ${homeOrders}"
                   th:if="${stat.index < 3 }">
                     <span class="product">
                     <span class="image-wrapper">
                     <img th:if="${order.imagePath != null}"
                     th:src="@{/images/{path}(path=${order.imagePath})}"
                     class="image" alt="상품이미지">
                     <img th:unless="${order.imagePath != null}"
                     src="/assets/images/default.png"
                     class="image" alt="기본이미지">
            </span>
            <span class="itemTitle">
                <span class="title" th:text="${order.itemName}">상품명</span>
                <span class="description" th:text="${order.size}">사이즈</span>
            </span>
            <span class="itemStatus">
                        <span class="date" th:text="${#temporals.format(order.createdAt, 'yyyy-MM-dd HH:mm:ss')}">25/07/02</span>
                        <span class="list-column">
                       <span class="card">
                       <span th:if="${order.status == 0}" class="cardOk">결제완료</span>
                       <span th:if="${order.status == 0}" class="cardCancel" th:onclick="|orderCancel(${order.id},3)|">주문취소</span>
                            </span>
                       <span class="status-container">
                       <span th:if="${order.status == 1}" class="buyOk" th:onclick="|confirmPurchase(${order.id})|" >구매확정</span>
                       <span th:if="${order.status == 1}" class="request" th:onclick="|refundRequest(${order.id},2)|">환불요청</span>
                       </span>
                       <span th:if="${order.status == 2}" class="requesting">환불요청중</span>
                       <span th:if="${order.status == 3}" class="refundOk">환불완료</span>
                       <span th:if="${order.status == 4}" class="done">구매완료</span>
                       <span th:if="${order.status == 5}"
                             class="refundNot"
                             th:data-id="${order.id}"
                             th:data-tel="${order.shopTel}"
                             th:data-name="${order.shopName}"
                             th:data-reason="${order.refundReason}"
                             onclick="refundRefuse(this.getAttribute('data-id'), this.getAttribute('data-tel'), this.getAttribute('data-name'), this.getAttribute('data-reason'))">
                           환불거절됨
                       </span>
                       <span th:if="${order.status == 6}" class="delivery" th:data-id="${order.id}" th:data-courier="${order.courier}" th:data-tracking="${order.trackingNumber}"
                             onclick="confirmDelivery(this.getAttribute('data-id'), 1, this.getAttribute('data-courier'), this.getAttribute('data-tracking'))">
                        배송조회
                       </span>
                        <span th:if="${order.status == 7}"
                              class="cardRefused"
                              th:data-id="${order.id}"
                              th:data-reason="${order.refundReason}"
                              onclick="checkRefusalAndRefund(this.getAttribute('data-id'), this.getAttribute('data-reason'))">
                            주문거절
                        </span>
                       <a th:href="@{/item/(shopId=${order.shopId}, id=${order.itemId})}">스타일올리기</a></span>
                    </span>
        </span>
            </label>
            <div th:if="${homeOrders == null or #arrays.isEmpty(homeOrders)}"
                 style="text-align: center; padding: 50px 0; color: #888;">
                최근 구매 내역이 없습니다.
            </div>
        </div>
        <div class="reservation">
            <h3 class="title">예약 / 픽업 상품</h3>
            <label onclick="loadTab('reservation', document.querySelectorAll('.menu .item')[1])" class="more" style="cursor:pointer">더보기 </label>
        </div>
        <div class="grid">
            <div th:if="${items == null or #lists.isEmpty(items)}"
                 style="width: 100%; text-align: center; padding: 40px; color: #888; grid-column: 1 / -1;">
                최근 예약된 상품이 없습니다.
            </div>

            <a th:unless="${items == null or #lists.isEmpty(items)}"
               th:each="item, stat : ${items}"
               th:if="${stat.index < 4 }"
               class="box"
               th:href="@{/item/(shopId=${item.shopId}, id=${item.itemId})}">

            <span class="image-wrapper">
                <img th:if="${item.imagePath != null}" th:src="@{/images/{path}(path=${item.imagePath})}" class="image" alt="상품이미지">
                <img th:unless="${item.imagePath != null}" src="/assets/images/default.png" class="image" alt="기본이미지">
            </span>

                <span class="text-container">
                <span class="title" th:text="${item.itemName}">상품명 들어갈 곳</span>
                <span class="price" th:text="${#numbers.formatInteger(item.price, 0, 'COMMA') + ' 원'}">0원</span>
                <span class="place" th:text="${item.shopName}">가게이름</span>
                <span class="status" th:text="${item.status}" style="font-size: 12px; color: #999;">대기</span>
            </span>
            </a>
        </div>
    </div>
</div>

<div th:fragment="orders" class="tab_purchase_content">
    <h3 class="tab_title">구매 내역</h3>
    <div class="item reservation" style="display:block">
        <label class="list" th:each="order, stat : ${orders}"
        th:if="${stat.index < 10 }">
                <span class="product">
                    <span class="image-wrapper"><img th:src="@{/images/{path}(path=${order.imagePath})}" src="../assets/images/my/shoe1.png" class="image" alt=""></span>
                    <span class="itemTitle">
                        <span class="title" th:text="${order.itemName}">Asics Gel-Venture 6 Shield Black Feather Grey</span>
                        <span class="description" th:text="${order.size}">280</span>
                    </span>
                    <span class="itemStatus">
                        <span class="date" th:text="${#temporals.format(order.createdAt, 'yyyy-MM-dd HH:mm:ss')}">25/07/02</span>
                        <span class="list-column">
                            <span class="card">
                       <span th:if="${order.status == 0}" class="cardOk">결제완료</span>
                       <span th:if="${order.status == 0}" class="cardCancel" th:onclick="|orderCancel(${order.id},3)|">주문취소</span>
                            </span>
                       <span class="status-container">
                       <span th:if="${order.status == 1}" class="buyOk" th:onclick="|confirmPurchase(${order.id})|" >구매확정</span>
                       <span th:if="${order.status == 1}" class="request" th:onclick="|refundRequest(${order.id},2)|">환불요청</span>
                       </span>
                       <span th:if="${order.status == 2}" class="requesting">환불요청중</span>
                       <span th:if="${order.status == 3}" class="refundOk">환불완료</span>
                       <span th:if="${order.status == 4}" class="done">구매완료</span>
                            <span th:if="${order.status == 5}"
                                  class="refundNot"
                                  th:data-id="${order.id}"
                                  th:data-tel="${order.shopTel}"
                                  th:data-name="${order.shopName}"
                                  th:data-reason="${order.refundReason}"
                                  onclick="refundRefuse(this.getAttribute('data-id'), this.getAttribute('data-tel'), this.getAttribute('data-name'), this.getAttribute('data-reason'))">
                           환불거절됨
                       </span>
                       <span th:if="${order.status == 6}" class="delivery" th:data-id="${order.id}" th:data-courier="${order.courier}" th:data-tracking="${order.trackingNumber}"
                        onclick="confirmDelivery(this.getAttribute('data-id'), 1, this.getAttribute('data-courier'), this.getAttribute('data-tracking'))">
                        배송조회
                       </span>
                        <span th:if="${order.status == 7}"
                              class="cardRefused"
                              th:data-id="${order.id}"
                              th:data-reason="${order.refundReason}"
                              onclick="checkRefusalAndRefund(this.getAttribute('data-id'), this.getAttribute('data-reason'))">
                            주문거절
                        </span>
                       <a th:href="@{/item/(shopId=${order.shopId}, id=${order.itemId})}">스타일올리기</a></span>
                    </span>
                </span>
        </label>
        <div th:if="${orders == null or #arrays.isEmpty(orders)}"
             style="text-align: center; padding: 62px 0; color: #888;">
            최근 구매 내역이 없습니다.
        </div>

    </div>
</div>

<div th:fragment="reservation" class="tab_reservation_content">
    <h3 class="tab_title">예약 및 픽업상품</h3>

    <ul class="selection">
        <li class="reservation">
            <label class="label">
                <input type="radio" name="reservation_filter" class="radio" checked onclick="filterStatus('대기')">
                <span class="number" th:text="${waitCount}">0</span>
                <span class="title" style="color:black; font-weight:600">대기</span>
            </label>
        </li>

        <li class="pickUp">
            <label class="label">
                <input type="radio" name="reservation_filter" class="radio" onclick="filterStatus('확정')">
                <span class="number" th:text="${confirmCount}">0</span>
                <span class="title">확정</span>
            </label>
        </li>

        <li class="end">
            <label class="label">
                <input type="radio" name="reservation_filter" class="radio" onclick="filterStatus('종료')">
                <span class="number" th:text="${endCount}">0</span>
                <span class="title">종료</span>
            </label>
        </li>
    </ul>

    <div class="item reservation" style="display:block">

        <div id="no-reservation-msg"
             th:style="${waitCount == 0 ? 'width: 100%; text-align: center; padding: 40px; color: #888; display: block;' : 'width: 100%; text-align: center; padding: 40px; color: #888; display: none;'}">
            해당하는 예약 상품이 없습니다.
        </div>

        <div class="list res-item-row"
               th:if="${items != null}"
               th:each="item : ${items}"
               th:data-status="${item.status}"
               th:style="${item.status == '대기' ? 'display:block;' : 'display:none;'}">

            <span class="product">
                <span class="image-wrapper">
                     <img th:if="${item.imagePath != null}" th:src="@{/images/{path}(path=${item.imagePath})}" class="image" alt="상품이미지">
                     <img th:unless="${item.imagePath != null}" src="/assets/images/default.png" class="image" alt="기본이미지">
                </span>

                <span class="itemTitle">
                    <span class="title" th:text="${item.itemName}">상품명</span>
                    <span class="description" th:text="|size : ${item.size}|">280</span>
                </span>

                <span class="itemStatus">
                    <span class="date" th:text="${#temporals.format(item.visitDate, 'yy/MM/dd')}">25/07/02</span>

                    <span class="list-column">
                        <span th:text="${item.status}"
                              th:style="${item.status == '대기' ? 'color:green; font-weight:bold;' : 'color:red; font-weight:bold'}">상태</span>
                        <span th:text="${item.shopName}">매장명</span>
                    </span>
                    <button type="button"
                            class="delete-btn"
                            th:data-id="${item.reservationId}"
                            th:style="${item.status== '대기' ? 'display:block;' : 'display:none;'}">삭제</button>
                </span>
            </span>
        </div>
    </div>
</div>

<div th:fragment="likes-shop" class="tab_likeShop_content">
    <h3 class="tab_title">관심 매장</h3>
    <div class="grid" th:if="${not #arrays.isEmpty(likeShops)}">
        <a class="box" th:each="shop : ${likeShops}" th:href="@{'/shop/'(shopId=${shop.shopId})}">
            <span class="image-wrapper">
                <span class="image" th:style="|background-image: url('${shop.profileImage}');|"></span>
               <button class="button" type="button" th:onclick="|toggleLikeShop(event, ${shop.shopId})|">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="24px" width="24px" version="1.1" id="Layer_1" viewBox="0 0 512.003 512.003" xml:space="preserve"><g><path style="fill:#ff2929;" d="M256.001,105.69c19.535-49.77,61.325-87.79,113.231-87.79c43.705,0,80.225,22.572,108.871,54.44 c39.186,43.591,56.497,139.193-15.863,209.24c-37.129,35.946-205.815,212.524-205.815,212.524S88.171,317.084,50.619,281.579 C-22.447,212.495-6.01,116.919,34.756,72.339c28.919-31.629,65.165-54.44,108.871-54.44 C195.532,17.899,236.466,55.92,256.001,105.69"/></g></svg>
                </button>
            </span>
            <span class="text-container">
                <span class="title" th:text="${shop.shopName}">매장명</span>
                <span class="address" th:text="${shop.shopAddress}">주소</span>
            </span>
        </a>
    </div>

    <div th:if="${#arrays.isEmpty(likeShops)}" style="text-align: center; padding: 50px 0; color: #888;">
        <p>등록된 관심 매장이 없습니다.</p>
    </div>
</div>

<div th:fragment="likes-item" class="tab_likeProduct_content">
    <h3 class="tab_title">관심 상품</h3>

    <div th:if="${likeItems == null or #arrays.isEmpty(likeItems)}" style="text-align:center;color: #888; padding: 4.5rem;">
        관심 등록한 상품이 없습니다.
    </div>

    <div class="grid" th:unless="${likeItems == null or #arrays.isEmpty(likeItems)}">
        <a class="box" th:each="item : ${likeItems}"
           th:href="@{/item/(id=${item.id})}"> <span class="image-wrapper">
                <span class="image"
                      th:style="'background-image: url(' + @{/images/{path}(path=${item.imagePath})} + '); background-size: cover; background-position: center; display:block; width:100%; height:100%;'">
                </span>

                <button class="button" type="button"
                        th:onclick="|toggleLikeItems(${item.shopId}, ${item.id}); event.preventDefault();|">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 512.003 512.003">
                        <g><path style="fill:#ff2929;" d="M256.001,105.69c19.535-49.77,61.325-87.79,113.231-87.79c43.705,0,80.225,22.572,108.871,54.44 c39.186,43.591,56.497,139.193-15.863,209.24c-37.129,35.946-205.815,212.524-205.815,212.524S88.171,317.084,50.619,281.579 C-22.447,212.495-6.01,116.919,34.756,72.339c28.919-31.629,65.165-54.44,108.871-54.44 C195.532,17.899,236.466,55.92,256.001,105.69"/></g>
                    </svg>
                </button>
            </span>

            <span class="text-container">
                <span class="title" th:text="${item.itemName}">상품이름</span>
                <span class="address" th:text="${item.shopName}">매장명</span>
                <span class="address" th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')} + '원'">가격</span>
            </span>
        </a>
    </div>
</div>

<div th:fragment="profile" class="tab_profile_content">
    <h3 class="tab_title">프로필 관리</h3>
    <div class="user_membership">
        <div class="user_detail">
            <div class="user_thumb">
                <img src="/assets/images/my/thumb.png" alt="썸네일" class="thumb">
            </div>
            <div class="user_info">
                <strong class="name" th:text="${sessionUser.name}">user name</strong>
                <span class="email" th:text="${sessionUser.email}">kr****@naver.com</span>
            </div>
            <div class="info-buttons">
                <!--<label class="btn profile">이미지 변경</label>-->
                <label class="btn myStyle"
                       th:data-email="${sessionUser.email}"
                       onclick="deleteMember(this.getAttribute('data-email'))">삭제</label>
            </div>
        </div>
    </div>
    <h4 class="tab_info">프로필 </h4>

    <form class="unit" name="nameForm">
        <input type="text" id="name" class="email" th:placeholder="${sessionUser.name}"  placeholder="이름 또는 별명" maxlength="50" minlength="8" autofocus required >
        <label for="name" class="text">이름 </label>
        <div class="profile-name">
            <input type="button"
                   id="nameChangeButton"
                   class="checkbox" minlength="2">
            <label for="nameChangeButton" class="button">변경</label>
        </div>
    </form>
    <form class="unit">
        <input type="text" id="phone" class="email" th:placeholder="${sessionUser.phone}"  placeholder="나만의 프로필 이름" maxlength="11" minlength="8" autofocus required >
        <label for="phone" class="text">전화번호</label>
        <div class="profile-name">
            <input type="button" id="telChangeButton" class="checkbox">
            <label for="telChangeButton" class="button">변경</label>
        </div>
    </form>

    <h4 class="tab_info" style="margin-top: 30px;">선호 스타일 (최대 2개)
        <span id="currentStyleText" style="font-size: 14px; color: #666; font-weight: normal; margin-left: 10px;"></span>
        <input type="hidden" id="userStyleRaw" th:value="${sessionUser.style}">
    </h4>
    <form class="unit" style="display: block; height: auto; padding-bottom: 20px;">
        <div class="style-container">
            <label class="style-item" th:classappend="${sessionUser.style != null and #strings.contains(sessionUser.style, '미니멀')} ? 'checked-style' : ''">
                <input type="checkbox" name="style" value="미니멀" th:checked="${sessionUser.style != null and #strings.contains(sessionUser.style, '미니멀')}">
                <span>미니멀</span>
            </label>
            <label class="style-item" th:classappend="${sessionUser.style != null and #strings.contains(sessionUser.style, '캐주얼')} ? 'checked-style' : ''">
                <input type="checkbox" name="style" value="캐주얼" th:checked="${sessionUser.style != null and #strings.contains(sessionUser.style, '캐주얼')}">
                <span>캐주얼</span>
            </label>
            <label class="style-item" th:classappend="${sessionUser.style != null and #strings.contains(sessionUser.style, '스트릿')} ? 'checked-style' : ''">
                <input type="checkbox" name="style" value="스트릿" th:checked="${sessionUser.style != null and #strings.contains(sessionUser.style, '스트릿')}">
                <span>스트릿</span>
            </label>
            <label class="style-item" th:classappend="${sessionUser.style != null and #strings.contains(sessionUser.style, '댄디')} ? 'checked-style' : ''">
                <input type="checkbox" name="style" value="댄디" th:checked="${sessionUser.style != null and #strings.contains(sessionUser.style, '댄디')}">
                <span>댄디</span>
            </label>
            <label class="style-item" th:classappend="${sessionUser.style != null and #strings.contains(sessionUser.style, '빈티지')} ? 'checked-style' : ''">
                <input type="checkbox" name="style" value="빈티지" th:checked="${sessionUser.style != null and #strings.contains(sessionUser.style, '빈티지')}">
                <span>빈티지</span>
            </label>
            <label class="style-item" th:classappend="${sessionUser.style != null and #strings.contains(sessionUser.style, '모던')} ? 'checked-style' : ''">
                <input type="checkbox" name="style" value="모던" th:checked="${sessionUser.style != null and #strings.contains(sessionUser.style, '모던')}">
                <span>모던</span>
            </label>
            <label class="style-item" th:classappend="${sessionUser.style != null and #strings.contains(sessionUser.style, '스포티')} ? 'checked-style' : ''">
                <input type="checkbox" name="style" value="스포티" th:checked="${sessionUser.style != null and #strings.contains(sessionUser.style, '스포티')}">
                <span>스포티</span>
            </label>
            <label class="style-item" th:classappend="${sessionUser.style != null and #strings.contains(sessionUser.style, '페미닌')} ? 'checked-style' : ''">
                <input type="checkbox" name="style" value="페미닌" th:checked="${sessionUser.style != null and #strings.contains(sessionUser.style, '페미닌')}">
                <span>페미닌</span>
            </label>
        </div>
        <div class="profile-name" style="margin-top: 15px; position: relative; height: 40px;">
            <input type="button" id="styleChangeButton" class="checkbox" onclick="changeStyle()">
            <label for="styleChangeButton" class="button" style="right: 0; bottom: 0; margin-right: 0;">변경</label>
        </div>
    </form>
</div>

<div th:fragment="address" class="tab_address_content">
    <h3 class="tab_title">배송지 관리</h3>
    <form class="standard">
        <span class="sub-title">기본배송지</span>
        <div class="container">
            <div class="name-box">
                <span class="name" th:text="${sessionUser.name}">박규민</span>
                <span class="standard">기본배송지</span>
            </div>
            <span class="phone" th:text="${sessionUser.phone}">01080068384</span>
            <span style="color: #8e8d8d; font-weight: bold; ">기본주소</span>
            <input readonly name="address" type="text" class="address" value="(42959)대구 달성군 화원읍 화암로 120 (명곡미래빌4단지) 410동 1103호" th:value="${sessionUser.address}">
            <span style="color: #8e8d8d; font-weight: bold; ">상세주소</span>
            <input readonly name="addressDetail" type="text" class="address" value="(42959)대구 달성군 화원읍 화암로 120 (명곡미래빌4단지) 410동 1103호" th:value="${sessionUser.addressDetail}">
            <span class="button-container">
            <button type="button" id="btn-search-address-my" style="display:none; margin-right: 5px; padding: 5px 10px; background-color: #333; color: #fff; border: none; border-radius: 4px; cursor: pointer; font-size: 12px;">주소검색</button>
            <button type="button" id="addressActionBtn" class="modify">수정</button>
            <!--<button class="delete">삭제</button>-->
                </span>
        </div>
    </form>
</div>

<div th:fragment="custom" class="tab_custom_content" >
    <h3 class="tab_title">나의 맞춤 정보</h3>
    <p>개인 맞춤 설정 정보가 여기에 표시됩니다.</p>
</div>

<div th:fragment="my-nav" class="list">
    <div class="quick">메뉴이동</div>
    <button class="item" onclick="loadTab('home', this)" data-tab="home">홈</button>
    <button class="item" onclick="loadTab('orders', this)" data-tab="orders">구매 내역</button>
    <button class="item" onclick="loadTab('reservation', this)" data-tab="reservation" >예약 및 픽업상품</button>
    <button class="item" onclick="loadTab('likes-shop', this)" data-tab="likes-shop">관심 매장</button>
    <button class="item" onclick="loadTab('likes-item', this)" data-tab="likes-item">관심 상품</button>
    <button class="item" onclick="loadTab('profile', this)" data-tab="profile">프로필 관리</button>
    <button class="item"
            onclick="loadTab('address', this); window.scrollTo({top: window.innerHeight, behavior: 'smooth'});"
            data-tab="address">
        배송지 관리
    </button>
</div>
</body>
</html>


