.banner-wrapper {
    width: 100%;
    overflow: hidden;
    height: 300px; /* 높이 증가 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.banner-wrapper .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

@media screen and (max-width: 600px) {
    .banner-wrapper {
        height: 150px; /* 모바일 높이 조정 */
    }
}
