@import "index/shop.css";
@import "index/main.css";
@import "common.css";



body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #D4E8F4;
}

body > .box {
    width: 100%;

    box-sizing: border-box;
    padding: 0 1rem; /* 좌우 여백 추가 */
}
