<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>판매자 상품등록 </title>
    <link href="/assets/images/login/favicon.png" rel="icon">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/ownershop/common.css">
    <link rel="stylesheet" href="/assets/styles/ownershop/index.css">


    <script defer src="/assets/scripts/common.js"></script>
    <script src="/assets/scripts/ownershop/toggle.js" defer></script>
    <script src="/assets/scripts/ownershop/category.js" defer></script>
    <script src="/assets/scripts/ownershop/ownershop.js" defer></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: owner-header}">
</th:block>

<main id="main">
    <button id="toggleNav" class="toggle-btn **nav-open**">
        <img src="/assets/images/ownershop/arrow-left.png" alt="닫기" class="toggle-icon"/></button>
    <nav id="nav" class="open">
        <div class="info">매장관리 페이지</div>
        <div class="profile">
            <img th:src="${shop.profileImage != null ? shop.profileImage : '/assets/images/ownermain/brand.jpeg'}"
                 alt="" class="profile-img" id="profileImg" style="cursor: pointer;">
            <div class="message">메인페이지에서 변경가능</div>
            <div class="title" th:text="${shop.shopName}"></div>
        </div>
        <ul class="nav-list">
            <li class="dashboard">
                <a href="/owner">대시보드</a>
            </li>
            <li class="register-form">
                <a href="/owner/shop">상품등록</a>
            </li>
            <li class="register-owner-form">
                <a href="/owner/member">관리자권한부여</a>
            </li>
            <li class="graph-form">
                <a href="/owner/graph">매출흐름</a>
            </li>
        </ul>
    </nav>


    <form class="sections" name="form" enctype="multipart/form-data">
        <div class="header">
            <span class="title">상품등록</span>
            <span class="description">상품의 스타일이나 카테고리가 없다면 추천이 누락될 수 있습니다.</span>
        </div>
        <input type="hidden" name="mainCategory" id="inputMainCategory">
        <input type="hidden" name="subCategory" id="inputSubCategory">
        <input type="hidden" name="detailCategory" id="inputDetailCategory">
        <section id="item-images">
            <input type="file" name="images" id="imageInput" multiple style="display: none;" accept="image/*">
<!--            <div class="title">-->
<!--                <span class="caption">상품이미지</span>-->
                <span class="count" id="imageCount">(0/5)</span>
<!--            </div>-->
            <div class="main-image-wrapper" onclick="document.getElementById('imageInput').click();"
                 style="cursor: pointer;">
                <img class="img" src="/assets/images/ownershop/camera.png" alt="카메라">
                <span class="caption">이미지 등록</span>
                <span class="tooltip">⚠️ 최대 5장까지 등록 가능합니다.</span>
            </div>
            <input type="hidden" name="mainImageIndex" id="mainImageIndex" value="0">
        </section>
        <section id="item-info">
            <div class="item-list">
                <h2 class="form-title">상품 정보</h2>
                <div class="list">
                    <div class="input-group">
                        <label class="label" for="name">상품이름</label>
                        <input class="input" type="text" id="name" name="itemName" placeholder="상품이름을 입력해주세요">
                    </div>

                    <div class="input-group">
                        <label class="label" for="color">색상</label>
                        <input class="input" type="text" id="color" name="color" placeholder="색상을 입력해주세요">
                    </div>

                    <div class="input-group">
                        <label class="label" for="size">
                            사이즈
                        </label>
                        <input class="input" type="text" id="size" name="size" placeholder="ex: S,M,L,XL">
                        <span class="tooltip">⚠️사이즈가 없는 경우엔 입력하지 말아주세요. 반드시 예시 양식처럼 입력해야합니다.</span>
                    </div>
                    <div class="input-group">
                        <label class="label" for="style">스타일</label>
                        <div class="select-wrapper">
                            <select class="input select" id="style" name="style" required>
                                <option value="" disabled selected>스타일을 선택해주세요</option>
                                <option value="스트릿">스트릿</option>
                                <option value="미니멀">미니멀</option>
                                <option value="댄디">댄디</option>
                                <option value="캐주얼">캐주얼</option>
                                <option value="빈티지">빈티지</option>
                                <option value="모던">모던</option>
                                <option value="스포티">스포티</option>
                                <option value="페미닌">페미닌</option>
                            </select>
                            <span class="select-arrow">▼</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="label" for="price">가격</label>
                        <div class="price-input-wrapper">
                            <input class="input" type="number" id="price" name="price" placeholder="가격을 입력해주세요">
                            <span class="currency">원</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-box">
                    <ul class="list" id="type">
                        <li class="item" data-target="man">남성의류</li>
                        <li class="item" data-target="woman">여성의류</li>
                        <li class="item" data-target="shoe">신발</li>
                    </ul>
                </div>
                <div class="category-box " id="detail">
                    <div class="message">대분류 선택</div>
                    <ul class="list man-detail">
                        <li class="item" data-target="outer">아우터</li>
                        <li class="item" data-target="top">상의</li>
                        <li class="item" data-target="pants">바지</li>
                        <li class="item" data-target="accessory">악세사리</li>
                    </ul>
                    <ul class="list woman-detail">
                        <li class="item" data-target="outer">아우터</li>
                        <li class="item" data-target="top">상의</li>
                        <li class="item" data-target="pants">바지</li>
                        <li class="item" data-target="pants">바지</li>
                        <li class="item" data-target="accessory">악세사리</li>
                    </ul>
                    <ul class="list shoe-detail">
                        <li class="item">스니커즈</li>
                        <li class="item">구두류</li>
                    </ul>
                </div>
                <div class="category-box" id="sub-detail">
                    <div class="message">중분류 선택</div>
                    <ul class="list man-sub-detail-outer">
                        <li class="item">패딩</li>
                        <li class="item">자켓</li>
                        <li class="item">가디건</li>
                        <li class="item">코트</li>
                    </ul>
                    <ul class="list man-sub-detail-top">
                        <li class="item">후드티 / 후드집업</li>
                        <li class="item">맨투맨</li>
                        <li class="item">니트 / 스웨터</li>
                        <li class="item">셔츠</li>
                        <li class="item">반팔티</li>
                        <li class="item">긴팔티</li>
                    </ul>
                    <ul class="list man-sub-detail-pants">
                        <li class="item">데님 / 청바지</li>
                        <li class="item">면바지</li>
                        <li class="item">슬랙스</li>
                        <li class="item">트레이닝/조거팬츠</li>
                        <li class="item">반바지</li>
                        <li class="item">기타</li>
                    </ul>
                    <ul class="list man-sub-detail-accessory">
                        <li class="item">팔찌</li>
                        <li class="item">목걸이</li>
                    </ul>
                    <ul class="list woman-sub-detail-outer">
                        <li class="item">패딩</li>
                        <li class="item">자켓</li>
                        <li class="item">가디건</li>
                        <li class="item">코트</li>
                    </ul>
                    <ul class="list woman-sub-detail-top">
                        <li class="item">니트 / 스웨터</li>
                        <li class="item">후드티 / 후드집업</li>
                        <li class="item">맨투맨</li>
                        <li class="item">블라우스</li>
                        <li class="item">셔츠</li>
                        <li class="item">반팔티</li>
                        <li class="item">긴팔티</li>
                        <li class="item">슬리브리스</li>
                    </ul>
                    <ul class="list woman-sub-detail-pants">
                        <li class="item">데님 / 청바지</li>
                        <li class="item">면바지</li>
                        <li class="item">슬랙스</li>
                        <li class="item">셔츠</li>
                        <li class="item">트레이닝/조거팬츠</li>
                        <li class="item">반바지</li>
                        <li class="item">레깅스</li>
                        <li class="item">기타</li>
                    </ul>
                    <ul class="list woman-sub-detail-accessory">
                        <li class="item">팔찌</li>
                        <li class="item">목걸이</li>
                    </ul>
                    <ul class="list sub-detail-shoe">
                        <li class="item">샌들 / 슬리퍼</li>
                        <li class="item">구두 / 워커부츠</li>
                        <li class="item">운동화</li>
                        <li class="item">기타</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="buttons">
            <button class="cancel" type="button"><a href="/owner">취소하기</a></button>
            <button class="okay" type="submit">등록하기</button>
        </div>
    </form>
</main>

<!--<footer id="footer">-->

<!--</footer>-->
<div id="mobileGuideOverlay" class="mobile-guide-overlay">
    <div class="guide-content">
        <p>상품의 스타일이나 카테고리가 없다면<br> 추천이 누락될 수 있습니다.</p>
    </div>
    <div class="guide-footer">
        <button type="button" id="btnTodayClose">오늘 하루 그만보기</button>
        <button type="button" id="btnCloseOverlay">닫기</button>
    </div>
</div>
<th:block th:replace="~{/fragments/owner.html :: owner-bottom-nav}"></th:block>

</body>
</html>