
@import "index/main.css";
@import "index/shop-header.css";
@import "index/reservation.css";
@import "index/item.css";
@import "index/dialog.css";



body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFFFFF;
}

body > .box {
    width: 76.25rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* 반응형 미디어 쿼리 추가 */
@media (max-width: 1024px) {
    body > .box {
        width: 100%; /* 너비 100%로 변경 */
        flex-direction: column; /* 세로 배치로 변경 */
        padding: 0 1rem; /* 좌우 여백 추가 */
        box-sizing: border-box;
    }
}
