<!DOCTYPE html >
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>판매자 메인</title>
    <link href="/assets/images/login/favicon.png" rel="icon">
    <link rel="stylesheet" href="/assets/styles/ownermain/index.css">
    <link rel="stylesheet" href="/assets/styles/ownermain/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.css">
    <script defer src="/assets/scripts/common.js"></script>
    <script src="/assets/scripts/ownermain/toggle.js" defer></script>
    <script src="/assets/scripts/ownermain/ownermain.js" defer></script>

</head>
<body>
<th:block th:replace="~{/fragments/common.html :: owner-header}">
</th:block>

<main id="main">
    <button id="toggleNav" class="toggle-btn">
        <img src="/assets/images/ownermain/arrow-left.png" alt="닫기" class="toggle-icon"/>
    </button>

    <nav id="nav" class="open">
        <div class="info">매장관리 페이지</div>
        <div class="profile">
            <img th:src="${shop.profileImage != null ? shop.profileImage : '/assets/images/ownermain/brand.jpeg'}"
                 alt="" class="profile-img" id="profileImg" style="cursor: pointer;">
            <div class="message">클릭시 변경 가능합니다.</div>

            <div class="title">
                <input type="text" id="shopTitle" th:value="${shop.shopName}" readonly>
            </div>
        </div>
        <ul class="nav-list">
            <li class="dashboard">
                <a href="/owner">대시보드</a>
            </li>
            <li class="register-form">
                <a href="/owner/shop">상품등록</a>
            </li>
            <li class="register-owner-form">
                <a href="/owner/member">관리자권한부여</a>
            </li>
            <li class="graph-form">
                <a href="/owner/graph">매출흐름</a>
            </li>
        </ul>
    </nav>

    <div class="sections">
        <section id="shop-info">
            <div class="background-image-box" id="background-ImageBox">
                <img id="backgroundImage"
                     th:src="${shop.backgroundImage != null ? shop.backgroundImage : '/assets/images/ownermain/img.png'}"
                     alt="배경이미지">
            </div>

            <button class="button" id="bgUpdateBtn">대표사진수정</button>

            <form id="form" name="form" novalidate>
                <input type="file" id="profileImageInput" name="profileImage" style="display: none;" accept="image/*">
                <input type="file" id="backgroundImageInput" name="backgroundImage" style="display: none;" accept="image/*">

                <label class="label">
                    <input readonly required class="input" id="shopName_Input" maxlength="20" minlength="3" name="shopName" type="text" th:value="${shop.shopName}">
                </label>
                <label class="label">
                    <input readonly required class="input" id="time" maxlength="20" minlength="3" name="shopTime" type="text" th:value="${shop.shopTime}">
                </label>
                <label class="label">
                    <input readonly required class="input" id="category" maxlength="20" minlength="3" name="shopType" type="text" th:value="${shop.shopCategory}">
                </label>
                <label class="label">
                    <input readonly required class="input" id="address" maxlength="50" minlength="3" name="shopAddress" type="text" th:value="${shop.shopAddress}">
                </label>
                <label class="label">
                    <input readonly required class="input" id="tel" maxlength="20" minlength="3" name="shopTel" type="text" th:value="${shop.shopTel}">
                </label>
            </form>

            <button type="button" class="button shopInfo" id="infoUpdateBtn">매장정보수정</button>
        </section>

        <section id="items">
            <div class="item-list">
                <div class="spring"> 등록상품 관리</div>
                <div class="spring hidden"> </div>
                <div class="empty hidden">
                    등록된 상품이 없습니다 상품을 등록해주세요.</div>
                <form class="product" name="productForm" novalidate>
                    <input type="file" name="productImage" class="file-input" style="display: none;" accept="image/*">
                    <div class="image-wrapper">
                        <img src="/assets/images/ownermain/item-list/one-1.webp" class="image" alt="상품이미지">
                    </div>
                    <span class="itemTitle">
                         <input type="text" class="title" name="itemName" value="contemporary derby" readonly required>
                         <input type="text" class="description" name="size" value="230~280" readonly>
                         <input type="number" class="price" name="price" value="90000" readonly>
                    </span>
                    <span class="itemStatus">
                      <span class="type">
                      <input type="text" class="productType" name="mainCategory" value="구두" readonly style="text-align: right; width: 40px;">
                       <span>/</span>
                      <input type="text" class="productCategory" name="subCategory" value="댄디" readonly style="text-align: right; width: 40px;">
                    </span>
                     <span class="list-column">
                          <div class="color">
                          색상:
                          <input type="text" name="color" value="Black" readonly style="text-align: right; width: 60px;">
                     </div>
                     <span class="button-container">
                    <button type="button" class="res-btn" onclick="toggleEditMode(this)">수정하기</button>
                    <button type="button" class="del-btn">삭제하기</button>
                    <button type="submit" class="save-btn">저장하기</button>
                    </span>
                    </span>
                   </span>
                </form>
                <span class="product">
                    <span class="image-wrapper">
                        <img src="/assets/images/ownermain/item-list/one-2.webp" class="image" alt="">
                    </span>
                    <span class="itemTitle">
                        <span class="title">Denim Pants</span>
                        <span class="description">S ~ XL</span>
                        <span class="price">90000원</span>
                    </span>
                    <span class="itemStatus">
                         <span class="type"><span class="productType">청바지</span>/ <span class="productCategory">캐주얼</span></span>
                        <span class="list-column">
                           <span class="color">색상:Indigo </span>
                        <span class="button-container">
                                <button class="res-btn">수정하기</button>
                                <button class="del-btn">삭제하기</button>
                            </span>
                        </span>
                    </span>
                </span>
                <div class="spring"> </div>
            </div>

            <div class="res-list">
                <div class="spring"> 예약정보 확인</div>
                <div class="spring hidden"> </div>

                <div class="empty" th:if="${reservations == null or #lists.isEmpty(reservations.?[status == '대기' or status == '확정'])}">
                    예약 정보가 없습니다.
                </div>


                <div class="product"
                     th:unless="${reservations == null or #lists.isEmpty(reservations)}"
                     th:each="res : ${reservations}"
                     th:if="${res.status == '대기' or res.status == '확정'}" >

                    <div class="user-info">
                        <span class="date" th:text="${'방문예정일: '+ #temporals.format(res.visitDate, 'yyyy-MM-dd HH:mm')}">2025-11-07 12:43</span>
                        <span class="user" th:text="${res.userName}">박규민</span>
                        <br>
                        <span class="tel" th:text="${res.userTel}">010-0000-0000</span>
                    </div>

                    <span class="image-wrapper">
            <img th:if="${res.imagePath != null}"
                 th:src="@{/images/{path}(path=${res.imagePath})}"
                 class="image" alt="상품이미지">
            <img th:unless="${res.imagePath != null}"
                 src="/assets/images/default.png"
                 class="image" alt="기본이미지">
        </span>

                    <span class="itemTitle">
            <span class="title" th:text="${res.itemName}">상품명</span>
            <span class="description" th:text="${res.size}">Size</span>
            <span class="description" th:text="|색상:${res.color}|">Color</span>
        </span>

                    <span class="itemStatus">
            <th:block th:if="${res.status == '대기'}">
                <button type="button" class="fix-btn"
                        th:onclick="|changeStatus(${res.reservationId}, '확정')|">수락하기</button>
                <button type="button" class="res-btn"
                        th:onclick="|changeStatus(${res.reservationId}, '취소')|">거절하기</button>
            </th:block>
            <th:block th:if="${res.status == '확정'}">
                <button type="button" class="fix-btn"
                        th:onclick="|changeStatus(${res.reservationId}, '완료')|">거래완료</button>
            </th:block>
        </span>
                </div>

                <div class="spring"> </div>
            </div>
        </section>
    </div>
</main>

<footer id="footer"></footer>

</body>
</html>