.tab_likeProduct_content {
    width: 100%;
    max-width: 65rem;
}
.tab_likeProduct_content .tab_title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tab_likeProduct_content .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.tab_likeProduct_content .grid .box {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-bottom: 5rem;
    text-decoration: none; /* a태그 밑줄 제거 */
    color: inherit; /* 폰트 색상 상속 */
}
.tab_likeProduct_content .grid .box >.image-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    position: relative;

}
.tab_likeProduct_content .grid > .box .image {
    aspect-ratio: 1/1;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
}
.tab_likeProduct_content .grid > .box .text-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.05rem;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-left: 0.2rem;
    width: 100%;

}
.tab_likeProduct_content .grid > .box .text-container .price {
    padding-top: 0.5rem;

}

.tab_likeProduct_content .grid > .box .text-container .title {
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    color: #000000;
    text-align: center;
}
.tab_likeProduct_content .grid > .box .text-container .address {
    font-size: 0.8rem;
    font-weight: 400;
    position: relative;
    color: #000000;
    text-align: center;
}

.tab_likeProduct_content > .grid > .box > .image-wrapper>.button {
    outline: none;
    border: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
}
.tab_likeProduct_content > .grid > .box > .image-wrapper>.button:hover {
    transform:scale(1.1);
}
