.tab_address_content   {
    width: 100%;
    max-width: 65rem; /* PC에서는 최대 65rem까지만 커짐 */
}

.tab_address_content .tab_title {
    font-size: 1.8rem;
}
.tab_address_content > .standard > .sub-title {
    font-size: 1.5rem;
    font-weight: 600;
}
.tab_address_content > .standard > .container {
    padding: 2rem 1.5rem  ;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    margin: 2rem 1rem;
    gap : 0.5rem;
    width: 905px;
}
/* 수정된 부분 */
.tab_address_content > .standard > .container > input[readonly] {
    outline: none;        /* 포커스시 외곽선 제거 */
    border: none;         /* 기본 테두리 제거 */
    background: transparent; /* 배경 투명하게 (혹은 원하는 색상) */
    width: 100%;          /* 부모 컨테이너 너비에 맞게 꽉 채움 */
    font-size: 1rem;      /* 폰트 크기 조정 */
    color: #333;          /* 글자색 지정 */

    /* 텍스트가 너무 길 경우 말줄임표(...) 처리하려면 아래 추가 */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
}
.tab_address_content > .standard > .container > input.address:not([readonly]) {
    border: none;
    background-color: #eaeaea;    /* 배경색 흰색 */
    color: #4d4d4d;
    padding: 5px 10px;            /* 입력하기 편하게 내부 여백 추가 */
    border-radius: 4px;           /* 모서리 살짝 둥글게 */
    cursor: text;                 /* 텍스트 입력 커서 */
    box-sizing: border-box;       /* 패딩 포함해서 너비 계산 */
    outline: none;

}

/* 수정 모드에서 포커스(클릭) 했을 때 강조 */
.tab_address_content > .standard > .container > input.address:not([readonly]):focus {
    outline: none;                /* 기본 브라우저 아웃라인 제거 */
    border: none;
}
.tab_address_content > .standard > .container > .name-box > .name {
    font-size: 1rem;
    font-weight: 600;
}
.tab_address_content > .standard > .container > .name-box > .standard {
    font-size: 0.7rem;
    background-color: #FFFFFF;
    padding: 0.1rem 0.1rem;
}
.tab_address_content > .standard > .container .button-container {
    position: absolute;
    right: 4rem;
    top: 3rem;
    gap: 1rem;
    display: flex;
}
.tab_address_content > .standard > .container .button-container > button {
    border: 1px solid #eaeaea;
    padding: 0.8rem 1.5rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
}