<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>상품목록</title>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/itemlist/common.css">
    <link rel="stylesheet" href="/assets/styles/itemlist/index.css">
    <link href="/assets/images/login/favicon.png" rel="icon"  >
    <link rel="stylesheet" href="/assets/styles/common.css">
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/assets/scripts/itemlist/itemlist.js"></script>

</head>
<body>
<!-- 헤더부분 , 로고와 네비바가 들어감 -->
<th:block th:replace="~{/fragments/common.html :: customer-header}">
</th:block>
<!--스크롤스냅 적용된 가로 슬라이더: 각 img에 id부여하여 앵커이동-->
<!--헤더에 호버하면 나타나는 메뉴 -->
<main id="main" >
    <img src="/assets/images/main/splash1.jpg" class="image" alt="메인이미지">
</main> <!-- 헤더뒤에 배경 -->
<div id="item">
    <div class="item-list">상품 목록</div>
    <ul class="option-list">
        <li class="item"
            th:onclick="|location.href='@{/itemList(sort='popular')}'|"
            th:style="${sort == 'popular' or sort == null} ? 'background-color:#333; color:#fff; cursor:pointer;' : 'cursor:pointer;'">
            인기순
        </li>

        <li class="item"
            th:onclick="|location.href='@{/itemList(sort='price')}'|"
            th:style="${sort == 'price'} ? 'background-color:#333; color:#fff; cursor:pointer;' : 'cursor:pointer;'">
            가격순
        </li>
    </ul>
    <ul class="item-container">
        <li class="list" th:each="item : ${items}">
            <a th:href="@{/item/(shopId=${item.shopId}, id=${item.id})}">
                <img class="image"
                     th:src="${item.imagePath != null} ? '/images/' + ${item.imagePath} : '/assets/images/ownermain/item-list/default.png'"
                     alt="매장이미지">

                <div class="item-info">
                    <div class="firstLine">
                        <span class="name" th:text="${item.itemName}">Fogssy 포그씨</span>
                        <span class="km" th:text="${item.color}">Color</span>
                    </div>
                    <div class="address" th:text="${item.mainCategory}">Category</div>

                    <div class="time" th:text="|${#numbers.formatInteger(item.price, 0, 'COMMA')}원|">10,000원</div>

                    <div class="tag-area">
                        <span class="tag">예약가능</span>
                        <span class="tag">영업 중</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="page-container" th:if="${pageVo != null and pageVo.totalCount > 0}">
        <div class="group prev" th:if="${pageVo.requestPage > 1}">
            <a class="link" th:href="@{/itemList(page=${pageVo.requestPage - 1}, sort=${sort})}">&lt; 이전</a>
        </div>

        <div class="group"
             th:each="p : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}"
             th:classappend="${p == pageVo.requestPage ? ' -selected' : ''} + ${p == pageVo.endPage ? ' last-num' : ''}">
            <a class="link" th:href="@{/itemList(page=${p}, sort=${sort})}" th:text="${p}">1</a>
        </div>

        <div class="group next" th:if="${pageVo.requestPage < pageVo.maxPage}">
            <a class="link" th:href="@{/itemList(page=${pageVo.requestPage + 1}, sort=${sort})}">다음 &gt;</a>
        </div>
    </div>
</div>
</body>
</html>
