<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>recommended shop</title>
    <link rel="stylesheet" href="/assets/styles/recommendedshop/index.css">
    <link href="/assets/images/login/favicon.png" rel="icon"  >
    <link rel="stylesheet" href="/assets/styles/common.css">
    <script defer src="/assets/scripts/common.js"></script>
</head>
<body>
<!-- 헤더부분 , 로고와 네비바가 들어감 -->
<th:block th:replace="~{/fragments/common.html :: customer-header}">
</th:block>
<!--스크롤스냅 적용된 가로 슬라이더: 각 img에 id부여하여 앵커이동-->
<!--헤더에 호버하면 나타나는 메뉴 -->

<div class="video-container">
    <video class="video" poster="https://campaign-cdn.pstatic.net/0/campaign/2022/12/save-the-stars/img/img_spot_v8.jpg" autoplay muted loop playsinline>
        <source src="https://campaign-cdn.pstatic.net/0/campaign/2022/12/save-the-stars/video/spot_v2.mp4" type="video/mp4">
    </video>
    <div class="title-area">
        <span class="title">추천 매장</span>
        <span class="description">선호하는 <strong>미니멀</strong> 스타일에 따른 추천</span>
    </div>
</div>

<div id="inner">
    <div class="item">
    <div class="text-container">
        <span class="title shop">📍  SHOP</span>
        <span class="description">해당카테고리의 인기많은 매장</span>
    </div>
    <ul class="grid">
        <li class="box one">
            <img src="./images/one.png" alt="" class="image">
            <div class="info">
                <span class="title">
                    밥 위에 소복이 쌓인 튀김,텐동집
                </span>
                <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                    <span class="icon">
                        &starf;54만+
                    </span>
                </div>
            </div>
        </li>
        <li class="box two">
            <img src="./images/two.png" alt="" class="image">
            <div class="info">
                <span class="title">
                    솥과 밥의 필연적인 만남, 솥밥
                </span>
                <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                    <span class="icon">
                        &starf;243만+
                    </span>
                </div>
            </div>
        </li>
        <li class="box three">
            <img src="./images/three.png" alt="" class="image">
            <div class="info">
                <span class="title">
                    찬바람 불 때 생각나는 오뎅바
                </span>
                <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                    <span class="icon">
                        &starf;54만+
                    </span>
                </div>
            </div>
        </li>
        <li class="box four">
            <img src="./images/four.png" alt="" class="image">
            <div class="info">
                <span class="title">
                    따끈한 온천에 온몸이 사르르
                </span>
                <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                    <span class="icon">
                        &starf;24만+
                    </span>
                </div>
            </div>
        </li>
    </ul>
    </div>
    <div class="item">
        <div class="text-container">
            <span class="title product">📍 PRODUCT</span>
            <span class="description">해당카테고리의 인기많은 제품</span>
            <ul class="grid">
                <li class="box one">
                    <img src="./images/one.png" alt="" class="image">
                    <div class="info">
                <span class="title">
                    밥 위에 소복이 쌓인 튀김,텐동집
                </span>
                        <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                            <span class="icon">
                        &starf;54만+
                    </span>
                        </div>
                    </div>
                </li>
                <li class="box two">
                    <img src="./images/two.png" alt="" class="image">
                    <div class="info">
                <span class="title">
                    솥과 밥의 필연적인 만남, 솥밥
                </span>
                        <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                            <span class="icon">
                        &starf;243만+
                    </span>
                        </div>
                    </div>
                </li>
                <li class="box three">
                    <img src="./images/three.png" alt="" class="image">
                    <div class="info">
                <span class="title">
                    찬바람 불 때 생각나는 오뎅바
                </span>
                        <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                            <span class="icon">
                        &starf;54만+
                    </span>
                        </div>
                    </div>
                </li>
                <li class="box four">
                    <img src="./images/four.png" alt="" class="image">
                    <div class="info">
                <span class="title">
                    따끈한 온천에 온몸이 사르르
                </span>
                        <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                            <span class="icon">
                        &starf;24만+
                    </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="item">
        <div class="text-container">
            <span class="title all">📍 ALL PRODUCT</span>
            <span class="description">해당카테고리의 모든 제품</span>
            <ul class="grid">
                <li class="box one">
                    <img src="./images/one.png" alt="" class="image">
                    <div class="info">
                <span class="title">
                    밥 위에 소복이 쌓인 튀김,텐동집
                </span>
                        <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                            <span class="icon">
                        &starf;54만+
                    </span>
                        </div>
                    </div>
                </li>
                <li class="box two">
                    <img src="./images/two.png" alt="" class="image">
                    <div class="info">
                <span class="title">
                    솥과 밥의 필연적인 만남, 솥밥
                </span>
                        <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                            <span class="icon">
                        &starf;243만+
                    </span>
                        </div>
                    </div>
                </li>
                <li class="box three">
                    <img src="./images/three.png" alt="" class="image">
                    <div class="info">
                <span class="title">
                    찬바람 불 때 생각나는 오뎅바
                </span>
                        <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                            <span class="icon">
                        &starf;54만+
                    </span>
                        </div>
                    </div>
                </li>
                <li class="box four">
                    <img src="./images/four.png" alt="" class="image">
                    <div class="info">
                <span class="title">
                    따끈한 온천에 온몸이 사르르
                </span>
                        <div class="subtitle">
                    <span class="icon">
                        @전국
                    </span>
                            <span class="icon">
                        &starf;24만+
                    </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>
