<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Shop</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/shop/index.css" class="href">
    <link rel="stylesheet" href="/assets/styles/shop/common.css" class="href">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link href="/assets/images/login/favicon.png" rel="icon">
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/assets/scripts/shop/shop.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: customer-header}"></th:block>
<th:block th:replace="~{/fragments/common.html :: customer-mobile-header-scroll-active}">
</th:block>
<th:block th:replace="~{/fragments/common.html :: customer-mobile-footer}">
</th:block>
<!--스크롤스냅 적용된 가로 슬라이더: 각 img에 id부여하여 앵커이동-->
<!--헤더에 호버하면 나타나는 메뉴 -->
<!-- 헤더 렌더링 하는법 몰라서 일단 복붙함 뒤에 배경넣고-->
<main id="main" >
        <img src="../assets/images/shop/waviness.jpeg" class="image" alt="" th:src="${shopInfo.backgroundImage}">
</main> <!-- 헤더뒤에 배경 -->
<div class="box" id="shop-header">
<img th:src="${shopInfo.profileImage}" class="logo" alt="">
    <div class="profile">
        <div class="title" th:text="${shopInfo.shopName}" >Waviness</div>
        <span class="description" th:text="${shopInfo.shopCategory}">웨이비니스</span>
        <div class="count">
            <span class="like">영업시간&nbsp;</span>
            <span class="num" th:text="${shopInfo.shopTime}">4,001 ></span>
            <span class="style">전화번호&nbsp;</span>
            <span class="num" th:text="${shopInfo.shopTel}">565 ></span>
            <span class="style">주소&nbsp;</span>
            <span class="num" th:text="${shopInfo.shopAddress}">565 ></span>
        </div>
        <div class="button">
        <button class="like" th:onclick="|toggleLikeShop(${shopInfo.shopId}, '확정')|">관심 저장</button>
            <button class="share"><a th:href="@{/reservation/(shopId=${shopInfo.shopId})}" >예약 하기</a></button>
        </div>
    </div>
</div> <!--매장 소개 들어갈곳 -->
<ul class="box" id="quick">
    <li class="item">
        <a class="link" href="./shop.html">
                  <span class="icon-wrapper">
                <img alt="" class="icon" src="../assets/images/shop/quick/1.webp">
                       </span>
            <span class="text">인기매장</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="#">
              <span class="icon-wrapper">
                <img alt="" class="icon" src="../assets/images/shop/quick/2.webp">
                  </span>
            <span class="text">인기상품</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="#">
                 <span class="icon-wrapper">
                <img alt="" class="icon" src="../assets/images/shop/quick/3.webp">
                     </span>
            <span class="text">할인매장</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="#">
                 <span class="icon-wrapper">
                <img alt="" class="icon" src="../assets/images/shop/quick/4.webp">
                     </span>
            <span class="text">할인상품</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="#">
                 <span class="icon-wrapper">
                <img alt="" class="icon" src="../assets/images/shop/quick/5.webp">
                     </span>
            <span class="text">예약</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="#">
                   <span class="icon-wrapper">
                <img alt="" class="icon" src="../assets/images/shop/quick/6.webp">
                       </span>
            <span class="text">픽업</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="#">
                   <span class="icon-wrapper">
                <img alt="" class="icon" src="../assets/images/shop/quick/7.webp">
                       </span>
            <span class="text">마이페이지</span>
        </a>
    </li>
    <li class="item">
        <a class="link" href="#">
                   <span class="icon-wrapper">
                <img alt="" class="icon" src="../assets/images/shop/quick/8.webp">
                       </span>
            <span class="text">내주변매장</span>
        </a>
    </li>

</ul>
<div class="box" id="category">
    <div class="form-container">
        <ul class="selection">
            <li class="item">
                <label class="label">
                    <input type="radio" name="selection" value="1" class="radio checked" checked onchange="changeCategory('1')">
                    <span class="caption">전체</span>
                </label>
            </li>
            <li class="item">
                <label class="label">
                    <input type="radio" name="selection" value="2" class="radio" onchange="changeCategory('2')">
                    <span class="caption">아우터</span>
                </label>
            </li>
            <li class="item">
                <label class="label">
                    <input type="radio" name="selection" value="3" class="radio" onchange="changeCategory('3')">
                    <span class="caption">상의</span>
                </label>
            </li>
            <li class="item">
                <label class="label">
                    <input type="radio" name="selection" value="4" class="radio" onchange="changeCategory('4')">
                    <span class="caption">하의</span>
                </label>
            </li>
            <li class="item">
                <label class="label">
                    <input type="radio" name="selection" value="5" class="radio" onchange="changeCategory('5')">
                    <span class="caption">신발</span>
                </label>
            </li>
            <li class="item">
                <label class="label">
                    <input type="radio" name="selection" value="6" class="radio" onchange="changeCategory('6')">
                    <span class="caption">패션잡화</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="grid" id="productGrid">
    </div>
</div>
</body>
</html>